@page
@model InvWeb.Pages.Masterfiles.ItemMaster.SpecSteel.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InvItemSpec_Steel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.WtKgm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.WtKgm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.WtKgpc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.WtKgpc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.SteelBrand.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.SteelBrand.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.SteelMaterial.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.SteelMaterial.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.SteelMaterialGrade.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.SteelMaterialGrade.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.SteelOrigin.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.SteelOrigin.Name)
        </dd>
       @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.SpecFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.SpecFor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.SizeValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.SizeValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.SizeDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.SizeDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.WtValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.WtValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.WtDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.WtDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.SpecInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.SpecInfo)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemSpec_Steel.InvItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemSpec_Steel.InvItem.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InvItemSpec_Steel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
