@page
@model InvWeb.Pages.Masterfiles.ItemSpec_Steel.IndexModel

@{
    ViewData["Title"] = "Index - Item Specifications";
}

<h1>Item Specifications</h1>

<p>
    <a asp-page="Create" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                For
            </th>
            <th>
                Info
            </th>
            <th>
                Size
            </th>
            <th>
                Weight
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InvItemSpec_Steel)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.InvItem.Description)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.SpecFor)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.SpecInfo)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.SizeValue) 
                    @Html.DisplayFor(modelItem => item.SizeDesc)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.WtValue) 
                    @Html.DisplayFor(modelItem => item.WtDesc)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
