@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    IEnumerable<CoreLib.Inventory.Models.Stores.StoreInvCount> storeInvs = ViewBag.StoreInv;
    IEnumerable<CoreLib.Inventory.Models.InvCategory> Categories = ViewBag.Categories;
    bool IsAdmin = ViewBag.IsAdmin;
}

<!-- Summary Store Items -->

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-table-filter">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Filter</label>
                </div>
                <select class="custom-select" id="inputSelect-Category">
                    <option value="0" selected>Select Category</option>

                    @foreach(var categories in Categories){
                        <option value="@categories.Id"> @categories.Description </option>
                    }
                </select>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-table-filter">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Sort</label>
                </div>
                <select class="custom-select" id="inputSelect-Sort">
                    <option value="ITEM" selected>Item Name</option>
                    <option value="CODE" >Item Code</option>
                    <option value="COUNT" >Count</option>
                    <option value="CATEGORY" >Category</option>

                </select>
            </div>
        </div>
        <div class="col-lg4">
            <button class="btn btn-primary" onclick="UpdateFilter()" > Update </button>
        </div>
        <div class="col-lg-2">
        <input type="text" class="form-control" width="100" id="inputSelect-Search" style="width: 100% !important;" value="@ViewBag.SearchStr" />
        </div>
        <div class="col-lg-1">
        <button class="btn btn-primary" onclick="UpdateFilter()"> Search </button>
        </div>
    </div>

    <table class="table sortable-theme-bootstrap" data-sortable>
        <thead>
                        
            <tr>
                <th>
                    Item <i class="bi-alarm"></i>
                </th>
                <th>

                </th>
                <th>
                    <span data-toggle="tooltip" data-placement="top" title="On-Hand = accepted - released">
                        Physical
                    </span>

                </th>
                           
                @if(IsAdmin){
                    <th>
                        IN
                    </th>
                    <th>
                        OUT
                    </th>
                    <th>
                        +/-
                    </th>
                }
                <th>
                    <span data-toggle="tooltip" data-placement="top" title="Expected = (pending + accepted) - (requested + released)">
                        Expected
                    </span>
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Remarks
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in storeInvs)
            {
            <tr>
                <td>
                    @item.Description

                    <br /><span class="text-muted" style="font-size:0.7em"> Category: @item.Category </span>

                    @if (!String.IsNullOrEmpty(item.ItemSpec))
                    {
                        <br />
                        <span style="font-size:11px;"> @item.ItemSpec </span>
                    }
                </td>
                <td>
                    @*<partial name="_PartialStockWarning" model="item" />*@
                </td>
                <td>
                    @item.OnHand
                </td>

                @if (IsAdmin)
                {
                    <td class="table-secondary">
                        @item.ReceivePending
                    </td>
                    <td>
                        @item.ReleaseRequest
                    </td>
                    <td class="table-secondary">
                        @item.Adjustments
                    </td>
                }
                <td>
                    @item.Available
                </td>

                <td>
                    @item.Uom
                </td>
                <td>
                    <partial name="_PartialStockWarning" model="item" />
                </td>
            </tr>
            }
        </tbody>
    </table>

<!-- Mobile View table -->
<div class="row mobile-only">


    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-table-filter">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Filter</label>
                </div>
                <select class="custom-select" id="inputSelect-Category">
                    <option value="0" selected>Select Category</option>

                    @foreach (var categories in Categories)
                    {
                        <option value="@categories.Id"> @categories.Description </option>
                    }
                </select>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-table-filter">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Sort</label>
                </div>
                <select class="custom-select" id="inputSelect-Sort">
                    <option value="ITEM" selected>Item Name</option>
                    <option value="CODE">Item Code</option>
                    <option value="COUNT">Count</option>
                    <option value="CATEGORY">Category</option>

                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" onclick="UpdateFilter()"> Update </button>
        </div>
    </div>


    @foreach (var item in storeInvs)
    {
        <div class="col-md-12">
            <div class="card"  style="margin-bottom:5px;">
                <div class="card-body">
                    @*<h4>Store Items</h4>*@
                    <table class="table">
                        <tbody style="font-size:0.8em;">
                            <tr>
                                <th colspan="5">
                                    @item.Description
                                    <br /><partial name="_PartialStockWarning" model="item" />
                                </th>
                            </tr>

                            <tr>
                                <td>
                                    On-Hand
                                </td>
                                <td>
                                    IN
                                </td>
                                <td>
                                    OUT
                                </td>
                                <td>
                                    +/-
                                </td>
                                <td>
                                    Expected
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    @item.OnHand
                                </td>
                                @if (IsAdmin)
                                {
                                    <td class="table-secondary">
                                        @item.ReceivePending
                                    </td>
                                    <td>
                                        @item.ReleaseRequest
                                    </td>
                                    <td class="table-secondary">
                                        @item.Adjustments
                                    </td>
                                }
                                <td>
                                    @item.Available
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-->
        </div>
    }
    </div>
