@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    IEnumerable<CoreLib.Inventory.Models.InvTrxHdr> RecentTrxHdrs = ViewBag.RecentTrxHdrs;

    int OPERATION_ADD = 1;
    int OPERATION_SUBTRACT = 2;

}

<br />
<!-- Summary Store Items -->
<div class="row hide-on-mobile">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>Latest Transactions</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Details
                            </th>
                            <th>
                                LotID
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                ADD
                            </th>
                            <th>
                                LESS
                            </th>
                            <th>
                                UNIT
                            </th>
                            <th>
                                REMARKS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in RecentTrxHdrs)
                        {
                            @foreach (var dlts in item.InvTrxDtls)
                            {
                            <tr>
                                <td>
                                    <div>
                                         @dlts.InvItem.Description
                                         <br />
                                         <span style="font-size:11px;color:black">
                                                Material:  @dlts.InvItem.Material
                                         </span>
                                         <span style="font-size:11px;color:black">
                                                Heat No:  @dlts.BatchNo
                                         </span>
                                         <br /> 
                                         <span style="font-size:9px;color:gray"> 
                                                Category:  @dlts.InvItem.InvCategory.Description 
                                         </span>
                                    </div>
                                </td>
                                <td>
                                        @item.Id / @dlts.BatchNo
                                </td>
                                <td>
                                    @item.DtTrx.ToString("MMM dd yyyy")
                                </td>
                                <td>
                                    @item.InvTrxType.Type
                                </td>
                                <td>
                                    @item.InvTrxHdrStatu.Status
                                </td>
                                <td>
                                    @if (dlts.InvTrxDtlOperatorId == OPERATION_ADD)
                                    {
                                        @dlts.ItemQty
                                    }
                                </td>
                                <td>
                                    @if (dlts.InvTrxDtlOperatorId == OPERATION_SUBTRACT)
                                    {
                                        @dlts.ItemQty
                                    }
                                </td>
                                <td>
                                     @dlts.InvUom.uom
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Summary Store Items -->
<div class="row mobile-only">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>Recent Store Trxs</h4>

                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        @foreach (var item in RecentTrxHdrs)
                        {
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Remarks
                                </th>
                                <th>
                                    Details
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @item.DtTrx.ToString("MMM dd yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>
                                <td>
                                    <div>
                                        <p style="color:black;">
                                            @item.InvTrxType.Type - 
                                            @item.InvTrxHdrStatu.Status
                                    </p>
                                    <ul style="padding-left:10px;">
                                        @foreach (var dlts in item.InvTrxDtls)
                                        {
                                            <li style="color:black;">
                                                @dlts.InvItem.Description x
                                                @dlts.ItemQty
                                                @*@dlts.InvUom.uom*@
                                            </li>
                                        }
                                    </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
