@page "{id:int?}"
@model InvWeb.Pages.Stores.Main.IndexModel

@{
    ViewData["Title"] = "Main";
    IEnumerable<WebDBSchema.Models.Stores.StoreInvCount> storeInvs = ViewBag.StoreInv;
    IEnumerable<WebDBSchema.Models.InvTrxHdr> RecentTrxHdrs = ViewBag.RecentTrxHdrs;

    int? pendingReceiving = ViewBag.PendingReceiving != 0 ? ViewBag.PendingReceiving :  null;
    int? pendingReleasing = ViewBag.PendingReleasing != 0 ? ViewBag.PendingReleasing : null;
    int? pendingAdjustment = ViewBag.PendingAdjustment != 0 ? ViewBag.PendingAdjustment : null;
    int? pendingPO = ViewBag.PendingPurchaseOrder != 0 ? ViewBag.PendingPurchaseOrder : null;
}

<style>
    .store-main-actions-btn{
        font-size:12px;
        margin-top:3px;
    }

    .store-main-actions-link{
    }
</style>

<h1>
    @Html.DisplayFor(model => model.InvStore.StoreName)
</h1>

<div>
    <h4>Store</h4>
    <hr />
</div>

<div class="row" style="margin-bottom:5px;">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Receiving</h5>
                <h6 class="card-subtitle mb-2 text-muted">Receiving Items</h6>
                <div class="row" >
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12"> 
                    <a asp-page="../Receiving/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING">
                        @if (pendingReceiving != null)
                        { <span id="ReceivingText" class="badge badge-primary">@pendingReceiving</span> }
                        For Approval 
                    </a>
                    </button>
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12" >
                    <a asp-page="../Receiving/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL">
                         Recent List 
                    </a>
                    </button>
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12" >
                    <a asp-page="../Receiving/Create" asp-route-storeId="@ViewBag.StoreId"> 
                         + Add Trx
                    </a>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Releasing</h5>
                <h6 class="card-subtitle mb-2 text-muted">Releasing Items</h6>
                <div class="row" style="font-size:11px;">
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-4 col-md-12 col-lg-12">
                        <a asp-page="../Releasing/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING">
                            @if (pendingReleasing != null)
                            {
                                <span id="ReleasingText" class="badge badge-primary">@pendingReleasing</span>
                            }
                            For Approval
                        </a> 
                    </button>

                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                         <a asp-page="../Releasing/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL">Recent List</a>
                    </button>
                   
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                        <a asp-page="../Releasing/Create" asp-route-storeId="@ViewBag.StoreId" > + Add Trx</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Adjustment</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Inventory Adjustment </h6>
                <div class="row" style="font-size:14px;">
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12"> 
                        <a asp-page="../Adjustment/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING">
                            @if (pendingAdjustment != null)
                            {
                                <span id="ReleasingText" class="badge badge-primary">@pendingAdjustment</span>
                            }

                            For Approval
                        </a>
                    </button>
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                        <a asp-page="../Adjustment/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL">Recent List</a>
                    </button>
                    
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                        <a asp-page="../Adjustment/Create" asp-route-storeId="@ViewBag.StoreId"> + Add Trx</a>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Purchase Request</h5>
                <h6 class="card-subtitle mb-2 text-muted">Request Puchase Orders </h6>
                <div class="row" style="font-size:14px;">
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                        <a asp-page="../PurchaseRequest/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING">
                        @if (pendingAdjustment != null)
                        {
                            <span id="ReleasingText" class="badge badge-primary">@pendingPO</span>
                        }
                        For Approval
                    </a>
                      
                    </button>
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                        
                    <a asp-page="../PurchaseRequest/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL" >Recent List</a>
                    </button>
                    <button class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                    <a asp-page="../PurchaseRequest/Create" asp-route-storeId="@ViewBag.StoreId">+ Add Trx</a>

                    </button>
                    <a asp-page="../Printables/RequestVoucher" class="col-12 col-sm-12 col-md-12 col-lg-12 btn btn-light">Request Voucher</a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Store Items Summary -->
<div class="row hide-on-mobile">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>Store Items</h4>
                    <div class="col-md-5">
                       <form method="get">
                            <div class="input-group mb-3">
                                    @*<input type="text" asp-for="OrderBy"  />*@
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Order </span>
                                    </div>
                                    <select asp-for="OrderBy" class ="custom-select" asp-items="ViewBag.OrderByList" onchange="this.form.submit()"></select>
                            </div>
                        </form>
                    </div>
                <partial name="_PartialSummary" model="storeInvs" />

            </div>
        </div>
    </div>
</div>
<!-- Store Recent Transactions -->
<partial name="_PartialRecentTrx" model="RecentTrxHdrs" />


@*<partial name="_PartialStoreItems" />*@

@{
    //await Html.RenderPartialAsync("_PartialStoreItems", storeInvs);
}

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
}