@page "{id:int?}"
@model InvWeb.Pages.Stores.Main.IndexModel

@{
    ViewData["Title"] = "Main";
    IEnumerable<WebDBSchema.Models.Stores.StoreInvCount> storeInvs = ViewBag.StoreInv;
    IEnumerable<WebDBSchema.Models.InvTrxHdr> RecentTrxHdrs = ViewBag.RecentTrxHdrs;

    int pendingReceiving = ViewBag.PendingReceiving;
    int pendingReleasing = ViewBag.PendingReleasing;
    int pendingAdjustment = ViewBag.PendingAdjustment;
    int pendingPO = ViewBag.PendingPurchaseOrder;
}

<h1>
    @Html.DisplayFor(model => model.InvStore.StoreName)
</h1>

<div>
    <h4>Store</h4>

    <hr />
</div>

<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Receiving</h5>
                <h6 class="card-subtitle mb-2 text-muted">Receiving Items</h6>
                <div class="row" style="font-size:14px;">
                    <a asp-page="../Receiving/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING" class="col-5 col-sm-6 col-md-12 col-lg-5">
                        <span id="ReceivingText" class="badge badge-primary">@pendingReceiving</span>
                        For Approval
                    </a>
                    <a asp-page="../Receiving/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL" class="col-4 col-sm-4 col-md-12 col-lg-4">Recent List</a>
                    <a asp-page="../Receiving/Create" asp-route-storeId="@ViewBag.StoreId" class="col-3 col-sm-4 col-md-12 col-lg-3"> Add Trx</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Releasing</h5>
                <h6 class="card-subtitle mb-2 text-muted">Releasing Items</h6>
                <div class="row" style="font-size:14px;">
                    <a asp-page="../Releasing/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING" class="col-5 col-sm-6 col-md-12 col-lg-5">
                        <span id="ReleasingText" class="badge badge-primary">@pendingReleasing</span>
                        For Approval
                    </a>
                    <a asp-page="../Releasing/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL" class="col-4 col-sm-4 col-md-12 col-lg-4">Recent List</a>
                    <a asp-page="../Releasing/Create" asp-route-storeId="@ViewBag.StoreId" class="col-3 col-sm-4 col-md-12 col-lg-3">Add Trx</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Adjustment</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Inventory Adjustment </h6>
                <div class="row" style="font-size:14px;">
                    <a asp-page="../Adjustment/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING" class="col-5 col-sm-6 col-md-12 col-lg-5">
                        <span id="AdjustmentText" class="badge badge-primary"> @pendingAdjustment</span>
                        For Approval
                    </a>
                    <a asp-page="../Adjustment/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL" class="col-4 col-sm-4 col-md-12 col-lg-4">Recent List</a>
                    <a asp-page="../Adjustment/Create" asp-route-storeId="@ViewBag.StoreId" class="col-3 col-sm-4 col-md-12 col-lg-3">Add Trx</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Purchase Request</h5>
                <h6 class="card-subtitle mb-2 text-muted">Request Puchase Orders </h6>
                <div class="row" style="font-size:14px;">
                    <a asp-page="../PurchaseRequest/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING" class="col-5 col-sm-6 col-md-12 col-lg-5">
                        <span id="PurchaseOrderText" class="badge badge-primary"> @pendingPO</span>
                        For Approval
                    </a>
                    <a asp-page="../PurchaseRequest/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL" class="col-4 col-sm-4 col-md-12 col-lg-4">Recent List</a>
                    <a asp-page="../PurchaseRequest/Create" asp-route-storeId="@ViewBag.StoreId" class="col-3 col-sm-4 col-md-12 col-lg-3">Add Trx</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Store Items Summary -->
<partial name="_PartialSummary" model="storeInvs" />

<!-- Store Items Summary -->
<partial name="_PartialRecentTrx" model="RecentTrxHdrs" />

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
}