@page "{id:int?}"
@model InvWeb.Pages.Stores.Main.IndexModel

@{
    ViewData["Title"] = "Main";
    IEnumerable<WebDBSchema.Models.Stores.StoreInvCount> storeInvs = ViewBag.StoreInv;
    IEnumerable<WebDBSchema.Models.InvTrxHdr> RecentTrxHdrs = ViewBag.RecentTrxHdrs;

    int? pendingReceiving = ViewBag.PendingReceiving != 0 ? ViewBag.PendingReceiving :  null;
    int? pendingReleasing = ViewBag.PendingReleasing != 0 ? ViewBag.PendingReleasing : null;
    int? pendingAdjustment = ViewBag.PendingAdjustment != 0 ? ViewBag.PendingAdjustment : null;
    int? pendingPO = ViewBag.PendingPurchaseOrder != 0 ? ViewBag.PendingPurchaseOrder : null;
}

<style>
    .store-main-actions-btn{
        font-size:12px;
        margin-top:3px;
    }

    .store-main-actions-link{
    }
</style>

<h1>
    @Html.DisplayFor(model => model.InvStore.StoreName)
</h1>

<div>
    <h4>Store</h4>
    <hr />
</div>

<div class="row" style="margin-bottom:5px;">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Receiving</h5>
                <h6 class="card-subtitle mb-2 text-muted">Receiving Items</h6>
                <div class="row" > 
                    <a asp-page="../Receiving/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING"  class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                        <span> 
                            @if (pendingReceiving != null)
                            { <span id="ReceivingText" class="badge badge-primary">@pendingReceiving</span> }
                            For Approval 
                   
                        </span> 
                    </a> 
                    <a asp-page="../Receiving/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL" class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                             Recent List 
                    </a>
                    <a asp-page="../Receiving/Create" asp-route-storeId="@ViewBag.StoreId" class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12"> 
                             + Add Trx
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Releasing</h5>
                <h6 class="card-subtitle mb-2 text-muted">Releasing Items</h6>
                <div class="row" style="font-size:11px;">
                        <a asp-page="../Releasing/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING" class="btn btn-light store-main-actions-btn col-12 col-sm-4 col-md-12 col-lg-12">
                            @if (pendingReleasing != null)
                            {
                                <span id="ReleasingText" class="badge badge-primary">@pendingReleasing</span>
                            }
                            For Approval
                        </a> 

                         <a asp-page="../Releasing/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL" class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                             Recent List
                         </a>
                   
                   
                        <a asp-page="../Releasing/Create" asp-route-storeId="@ViewBag.StoreId" class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12" >
                            + Add Trx
                        </a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Adjustment</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Inventory Adjustment </h6>
                <div class="row" style="font-size:14px;">
                        <a asp-page="../Adjustment/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING" class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                            @if (pendingAdjustment != null)
                            {
                                <span id="ReleasingText" class="badge badge-primary">@pendingAdjustment</span>
                            }

                            For Approval
                        </a>
                        <a asp-page="../Adjustment/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL"  class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">Recent List</a>
                  
                        <a asp-page="../Adjustment/Create" asp-route-storeId="@ViewBag.StoreId" class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12"> + Add Trx</a>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Purchase Request</h5>
                <h6 class="card-subtitle mb-2 text-muted">Request Puchase Orders </h6>
                <div class="row" style="font-size:14px;">
                  
                        <a asp-page="../PurchaseRequest/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="PENDING"  class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">
                        @if (pendingPO != null)
                        {
                            <span id="ReleasingText" class="badge badge-primary">@pendingPO</span>
                        }
                        For Approval
                    </a>
                      
                        
                    <a asp-page="../PurchaseRequest/Index" asp-route-storeId="@ViewBag.StoreId" asp-route-status="ALL" class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">Recent List</a>
                   
                    <a asp-page="../PurchaseRequest/Create" asp-route-storeId="@ViewBag.StoreId" class="btn btn-light store-main-actions-btn col-12 col-sm-6 col-md-12 col-lg-12">+ Add Trx</a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Store Items Summary -->
<div class="row hide-on-mobile">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>Store Items</h4>
                    
                <partial name="_PartialSummary" model="storeInvs" />

            </div>
        </div>
    </div>
</div>
<!-- Store Recent Transactions -->
<partial name="_PartialRecentTrx" model="RecentTrxHdrs" />


@*<partial name="_PartialStoreItems" />*@

@{
    //await Html.RenderPartialAsync("_PartialStoreItems", storeInvs);
}

@section Scripts{
    <script>
        $(()=>{
            //Initialize
            InitTooltip();
        })

        function InitTooltip(){
            $('[data-toggle="tooltip"]').tooltip()

        }

    </script>
}