@page
@model InvWeb.Pages.Masterfiles.ItemMaster.DetailsModel

@{
    ViewData["Title"] = "Details";

    IEnumerable<WebDBSchema.Models.InvItemClass> invItemClasses = ViewBag.InvItemClass;
}

<h1>Details</h1>

<div>
    <h4>InvItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItem.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItem.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItem.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItem.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItem.InvUom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItem.InvUom.uom)
        </dd>
        <dt class="col-sm-2">
            Classification
        </dt>
        <dd class="col-sm-10">
            @if (Model.InvItem.InvItemClasses.Count() != 0)
            {

                @foreach (var classification in invItemClasses)
                {
                    <span>
                        @classification.InvClassification.Classification
                        -
                        <a asp-page="./Classifications/Delete" asp-route-id="@classification.Id"> Remove</a>
                    </span>
                    <br />
                }

            }
            <a asp-page="./Classifications/Create" asp-route-id="@Model.InvItem.Id">Add Classification</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InvItem.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<hr />
<a  asp-page="./WarningLevels/Create" asp-route-id="@Model.InvItem.Id"> Add Warning Level</a>
<table class="table">
    <tr>
        <th> Qty Range </th>
        <th> type </th>
        <th> Unit </th>
        <th></th>
    </tr>

    @foreach (var warning in Model.InvItem.InvWarningLevels) { 
        <tr>
            <td>
                @warning.Level1 -  @warning.Level2
            </td>
            <td>
                @warning.InvWarningType.Desc
            </td>
            <td>
                @warning.InvUom.uom
            </td>
            <td>
                <a asp-page="./WarningLevels/Edit" asp-route-id="@warning.Id"> Edit </a>
                <a asp-page="./WarningLevels/Delete" asp-route-id="@warning.Id"> Delete </a>
            </td>
        </tr>
    }

</table>