@page
@model InvWeb.Pages.Masterfiles.ItemMaster.IndexModel

@{
    ViewData["Title"] = "Item Masters Lists";
}

<h1>Item Masters</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvItemIndex[0].InvItem.Description)
            </th>
            <th>
                Sizes
            </th>
            <th>
                Category
            </th>
            <th>
                UoM
            </th>
            <th>
                Main Category
            </th>
            <th>
                Sub Category
            </th>
            <th>
                Brand
            </th>
            <th>
                Origin
            </th>
            <th>
                Material
            </th>
            <th>
                Material Grade
            </th>
            <th>
                KG/M
            </th>
            <th>
                KG/PC
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InvItemIndex)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.Description)

                    @if(String.IsNullOrEmpty(item.InvItem.Remarks)){
                        <span> @item.InvItem.Remarks </span>
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelSize.Name
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.InvCategory.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.InvUom.uom)
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelMainCat.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelSubCat.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelBrand.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelOrigin.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelMaterial.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelMaterialGrade.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.WtKgm.ToString("#,##0.00")
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.WtKgpc.ToString("#,##0.00")
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InvItem.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.InvItem.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.InvItem.Id">Delete</a>
                </td>
            </tr>


           
        }
    </tbody>
</table>


<!-- Modal : Classifications -->
<div class="modal fade" id="ShowClassificationModal" tabindex="-1" aria-labelledby="ShowClassificationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ListClassificationsModal">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>