@page
@model InvWeb.Pages.Masterfiles.ItemMaster.IndexModel

@{
    ViewData["Title"] = "Item Masters Lists";
}

<h1>Item Masters</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvItemIndex[0].InvItem.Description)
            </th>
            <th>
                Category
            </th>
            <th>
                UoM
            </th>
            <th>
                Classifications
            </th>
           @* <th>
                Specifications
            </th>
            <th>
                Warnings
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InvItemIndex)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.Description)

                    @if(String.IsNullOrEmpty(item.InvItem.Remarks)){
                        <span> @item.InvItem.Remarks </span>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.InvCategory.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.InvUom.uom)
                </td>
                <td>
                    @foreach (var classes  in item.InvItemClasses)
                    {
                        @Html.DisplayFor(modelItem => classes.InvClassification.Classification)
                        <a asp-page="./Classifications/Delete" asp-route-id="@classes.Id"> x </a>

                        <br />
                    }

                    @if (item.InvItemClasses.Count() == 0)
                    {
                        <a asp-page="./Classifications/Add" asp-route-id="@item.InvItem.Id"> + Classification</a>
                    }
                </td>

                @* 
                <td>
                    @if (item.InvItem.InvItemSpec_Steel != null)
                    {

                        foreach (var spec in item.InvItem.InvItemSpec_Steel)
                        {
                            <p>
                                <span class="text-info"> </span>
                                @spec.SpecFor

                                <span class="text-info"> - </span>
                                @spec.SpecInfo
                                <br>
                                <span class="text-info"> Size</span>
                                @spec.SizeValue : @spec.SizeDesc

                                <span class="text-info">  Weight </span>
                                @spec.WtValue : @spec.WtDesc
                            </p>

                        }
                    }

                    <!-- Custom Specs -->
                    @if(item.InvItem.InvItemCustomSpecs != null){
                        foreach (var spec in item.InvItem.InvItemCustomSpecs)
                        {
                            <p>
                                @spec.InvCustomSpec.SpecName   
                                <span class="text-info"> : </span>
                                @spec.SpecValue  @spec.InvCustomSpec.Measurement 
                               
                                @if (!String.IsNullOrEmpty(spec.Remarks))
                                {
                                    <br> @spec.Remarks
                                }
                            </p>
                        }
                    }
                    @if (item.InvItem.InvItemCustomSpecs.Count() == 0)
                    {
                        <a asp-page="./CustomSpec/Add" asp-route-id="@item.InvItem.Id"> + Specification</a>
                    }
                </td>
                *@

               @* <td>
                    <!--Warnings -->
                    @foreach(var warning in item.InvItem.InvWarningLevels){
                        <p> @warning.InvWarningType.Desc :
                            @warning.Level1 - @warning.Level2 @warning.InvUom.uom
                        </p>
                    }

                    @if(item.InvItem.InvWarningLevels.Count() == 0){
                        <a asp-page="./WarningLevels/Add" asp-route-id="@item.InvItem.Id">+ Warning Level</a>
                    }
                </td>
                *@
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.InvItem.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.InvItem.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.InvItem.Id">Delete</a>
                </td>
            </tr>


           
        }
    </tbody>
</table>


<!-- Modal : Classifications -->
<div class="modal fade" id="ShowClassificationModal" tabindex="-1" aria-labelledby="ShowClassificationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ListClassificationsModal">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>