@page
@model InvWeb.Pages.Stores.PurchaseRequest.DetailsModel

@{
    ViewData["Title"] = "Purchase Request Details";
    IEnumerable<WebDBSchema.Models.InvPoItem> invPoItems = ViewBag.InvPoItems;
}

<h1>Purchase Order Header Details</h1>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.InvPoHdr.Id">Edit</a> |
    <a asp-page="./Index" asp-route-storeId="@Model.InvPoHdr.InvStoreId">Back to List</a>
    
   <div class="pull-left">
      <a asp-page="../Printables/RequestForm" asp-route-id="@Model.InvPoHdr.Id" asp-route-type="4" target="_blank" class="btn btn-primary">Print Voucher</a> 
  </div>
</div>
<hr />
<div>
    <h4>Request Header</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            LotNo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.InvPoHdr.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvPoHdr.DtPo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvPoHdr.DtPo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvPoHdr.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvPoHdr.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvPoHdr.InvSupplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvPoHdr.InvSupplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvPoHdr.InvStore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvPoHdr.InvStore.StoreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvPoHdr.InvPoHdrStatu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvPoHdr.InvPoHdrStatu.Status)
        </dd>
    </dl>
</div>

<hr />
<h4> Request Items </h4>
<p>
    <a asp-page="./ItemDetails/Create" asp-route-hdrId="@Model.InvPoHdr.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                InvItem
            </th>
            <th>
                ItemQty
            </th>
            <th>
                InvUom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in invPoItems)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvItem.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvUom.uom)
            </td>
            <td>
                <a asp-page="./ItemDetails/Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./ItemDetails/Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./ItemDetails/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
