@page "{storeId:int?}"
@model InvWeb.Pages.Stores.PurchaseRequest.IndexModel

@{
    ViewData["Title"] = "Purchase Request";
    int TYPE_PURCHASEORDER = 4;
}

<h1>
    Purchase Request
    @if (ViewBag.Status == "ACCEPTED")
    {
        <span style="font-size:1rem;">(Approved)</span>
    }
    else if (ViewBag.Status == "PENDING")
    {
        <span style="font-size:1rem;">(Pending Approval)</span>
    }
    else
    {
        <span style="font-size:1rem;">(All)</span>
    }
</h1>

<p>
    <a asp-page="../Main/Index" asp-route-id="@ViewBag.StoreId">Go back to MyStore</a> |
    @if (ViewBag.Status == "ACCEPTED")
    {
        <a asp-page="./Index" asp-route-storeId="@ViewBag.StoreId" asp-route-Status="PENDING">Go recent Pendings</a>
    }
    else if (ViewBag.Status == "PENDING")
    {
        <a asp-page="./Index" asp-route-storeId="@ViewBag.StoreId" asp-route-Status="ACCEPTED">Go recent Approval</a>
    }
    else
    {
        <a asp-page="./Index" asp-route-storeId="@ViewBag.StoreId" asp-route-Status="PENDING">Go recent Pendings</a>
    }
</p>
<p>
    <a asp-page="Create" asp-route-storeId="@ViewBag.StoreId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                LotNo
            </th>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvPoHdr[0].InvSupplier)
            </th>
            <th>
                Actions
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InvPoHdr)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.DtPo.ToString("MMM dd yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvSupplier.Name)
            </td>
            <td>
                <div>
                    <ul>
                        @foreach (var dlts in item.InvPoItems)
                        {
                            <li style="color:black;">
                                @dlts.InvItem.Description x
                                @dlts.ItemQty
                                @*@dlts.InvUom.uom*@
                            </li>
                        }
                    </ul>
                </div>
            </td>
            <td>
                @if (item.InvPoHdrStatusId == 1)
                {
                    <button class="btn btn-primary" onclick="ApproveHdr('@item.Id')"> Accept </button>
                }
           </td>
            <td>
                <a asp-page="../Printables/RequestForm" asp-route-id="@item.Id" asp-route-type="@TYPE_PURCHASEORDER" target="_blank">Print</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>  | 
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" src="~/js/Store/POFilter.js"></script>
    <script>

        $(() => {
            //on init status
          
        });

    </script>
} 