@page
@model InvWeb.Pages.Masterfiles.SupplierItems.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvSupplierItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvSupplierItem.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvSupplierItem.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvSupplierItem.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvSupplierItem.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvSupplierItem.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvSupplierItem.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvSupplierItem.LeadTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvSupplierItem.LeadTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvSupplierItem.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvSupplierItem.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvSupplierItem.InvSupplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvSupplierItem.InvSupplier.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvSupplierItem.InvItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvSupplierItem.InvItem.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InvSupplierItem.Id">Edit</a> |
    <a asp-page="./Index" asp-route-id="@Model.InvSupplierItem.InvSupplierId">Back to List</a>
</div>
