@page "{id:int?}"

@model InvWeb.Pages.Masterfiles.SupplierItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1> @ViewBag.Supplier </h1>
<h3>Supplier Items</h3>

<p>
    <a asp-page="Create" asp-route-id="@ViewBag.SupplierId">Create New</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InvSupplierItem[0].InvItem.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvSupplierItem[0].InvSupplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvSupplierItem[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvSupplierItem[0].Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvSupplierItem[0].LastUpdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvSupplierItem[0].LeadTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model.InvSupplierItem)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvItem.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvSupplier.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeadTime)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}