@page
@model InvWeb.Pages.PurchaseOrders.InvPOItems.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvPoItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvPoItem.ItemQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvPoItem.ItemQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvPoItem.InvPoHdr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvPoItem.InvPoHdr.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvPoItem.InvItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvPoItem.InvItem.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvPoItem.InvUom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvPoItem.InvUom.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InvPoItem.Id">Edit</a> |
    <a asp-page="../InvPOHdrs/Details" asp-route-id="@Model.InvPoItem.InvPoHdrId">Back to List</a>
</div>
