@page "{id:int?}"
@model InvWeb.Pages.PurchaseOrders.InvPOItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>PO Details</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvPoItem[0].ItemQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvPoItem[0].InvPoHdr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvPoItem[0].InvItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvPoItem[0].InvUom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InvPoItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvPoHdr.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvItem.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvUom.uom)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
