@using ReportViewModel
@model ReportViewModel.InvStore.TrxHdr
@{
    
    ViewData["Title"] = "Adjustments";
}

<table class="table">
    <tr class="no-border">
        <td colspan="3" class="align-content-center no-border">
            <div style="display:flex;flex-direction:column;align-items:center;">
                
                <h2 > VPRO CUSTOM INC </h2>
                <h2> Request Voucher </h2>
                <h2>( Adjustment )</h2>
            </div>

        </td>

    </tr>
    <tr>
        <td colspan="2" class="no-border" width="65%">
            <table width="90%">
                <tr>
                    <td width="80px">
                         To: 
                    </td>
                    <td  style="border-bottom: 2px solid black !important;">

                    </td>
                </tr>
            </table>
        </td>
        <td class="no-border" >
           
             <table width="90%">
                <tr>
                    <td width="150px">
                          Cash Voucher No:
                    </td>
                    <td  style="border-bottom: 2px solid black !important;">
                        @Model.Id
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2"> 
             <table width="90%">
                <tr>
                    <td width="80px">
                         Addresss:
                    </td>
                    <td  style="border-bottom: 2px solid black !important;">
                         @Model.Address
                    </td>
                </tr>
            </table>
        </td>
        <td>
             <table width="90%">
                <tr>
                    <td width="150px">
                          Date:
                    </td>
                    <td  style="border-bottom: 2px solid black !important;">
                         @Model.Date.ToString("MMM dd yyyy")
                    </td>
                </tr>
            </table>
            
        </td>

    </tr>

    <tr>
        <td colspan="3">

            <!-- Particulars Table -->

            <Table class="table table-bordered thick-border">
                <tr  style="border:2px solid black;">
                    <th colspan="9" style="border-right: 2px solid black !important;">
                        PARTICULARS
                    </th>
                    <th colspan="1" class="text-center">
                        QTY IN
                    </th>
                    <th colspan="2" class="text-center">
                        QTY OUT
                    </th>
                </tr>
                    @foreach (var item in Model.Details)
                    {
                        <tr>
                            <td width="50">
                                <span> @item.Count </span>
                            </td>
                            <td colspan="8">
                                @item.Description @item.Remarks
                            </td>
                            <td class="thick-border-left text-center" style="border-left: 2px solid black !important;">
                                
                                @if(item.Operation == "Add"){
                                    
                                    @item.Qty 
                                }
                            </td>
                            <td class="thick-border-right text-center" style="border-right: 2px solid black !important;border-left: 2px solid black !important;">

                                 @if(item.Operation == "Subtract"){
                                    <span> @item.Qty  </span>    
                                 }
                            </td>
                        </tr>
                    }


                    @for(int i=Model.Details.Count; i < 10; i++)
                    {
                        <tr>
                            <!-- Particulars -->
                            <td ></td>
                            <td colspan="8"></td>

                            <!-- Amounts -->
                            <td class="thick-border-left" style="border-left: 2px solid black !important;"></td>
                            <td class="thick-border-right" style="border-right: 2px solid black !important;border-left: 2px solid black !important;"></td>
                        </tr> 
                    }
                   
                <tr class="thick-border">
                        <td colspan="9"  class="thick-border-right" style="border-right: 2px solid black !important;">
                            <span class="pull-right"> TOTAL : @Model.GetTotalItemsCount() </span>
                        </td>
                        <td colspan="1" class="thick-border-top thick-border-right" style="border-right: 2px solid black !important;">
                           
                        </td>
                        <td colspan="1" class="thick-border-top" style="border-right: 2px solid black !important;">

                        </td>
                </tr>
            </Table>

        </td>

    </tr>
    
    <tr>
        <td class="no-border">
            Prepared By
        </td>
        <td class="no-border">
            Approved By:
        </td>
        <td class="no-border">
            Received Payment By:

        </td>

    </tr>
    <tr>
        <td > 
            ADMIN OFFICER

        </td>
        <td>
           
        </td>
        <td>

        </td>
    </tr>
</table>




@{
    //code here
}
