@page
@model InvWeb.Pages.Masterfiles.ItemSpecSteel.SteelSubCats.IndexModel

@{
    ViewData["Title"] = "SteelSubCats";
}

<h1>SteelSubCats</h1>
<p>
    <a asp-page="../../ItemSpecSteel/Index">Back to Steel Specs</a>
</p>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SteelSubCat[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteelSubCat[0].Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.SteelSubCat) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
