@page
@model InvWeb.Pages.Stores.Adjustment.DetailsModel

@{
    ViewData["Title"] = "Details";
    IEnumerable<WebDBSchema.Models.InvTrxDtl> invTrxDtls = ViewBag.InvTrxDtls;
}


<h1>Receiving</h1>

<div>
    <h4> Transaction Header</h4>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.InvTrxHdr.Id">Edit</a> |
        <a asp-page="./Index" asp-route-storeId="@Model.InvTrxHdr.InvStoreId">Back to List</a>
        
        <div class="pull-left">
            <a asp-page="../Printables/RequestForm" asp-route-id="@Model.InvTrxHdr.Id" asp-route-type="@Model.InvTrxHdr.InvTrxTypeId" target="_blank" class="btn btn-primary">Print Voucher</a> 
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            LotNo
        </dt>
        <dd class="col-sm-10">
            @Model.InvTrxHdr.Id
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvTrxHdr.DtTrx)
        </dt>
        <dd class="col-sm-10">
            @Model.InvTrxHdr.DtTrx.ToString("MMM dd yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvTrxHdr.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvTrxHdr.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvTrxHdr.InvStore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvTrxHdr.InvStore.StoreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvTrxHdr.InvTrxType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvTrxHdr.InvTrxType.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvTrxHdr.InvTrxHdrStatu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvTrxHdr.InvTrxHdrStatu.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvTrxHdr.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvTrxHdr.Remarks)
        </dd>
    </dl>
</div>
<hr />
<h4> Transaction Details</h4>
<p>
    <a asp-page="./ItemDetails/Create" asp-route-hdrId="@Model.InvTrxHdr.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                InvItem
            </th>
            <th>
                ItemQty
            </th>
            <th>
                InvUom
            </th>
            <th>
                Operation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in invTrxDtls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.Code)
                </td>
                <td>
                    ( @Html.DisplayFor(modelItem => item.InvItem.Code) )
                    @Html.DisplayFor(modelItem => item.InvItem.Description)
                    @Html.DisplayFor(modelItem => item.InvItem.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.InvUom.uom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvTrxDtlOperator.Description)
                </td>
                <td>
                    <a asp-page="./ItemDetails/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./ItemDetails/Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./ItemDetails/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

