@page "{storeId:int?}"
@model InvWeb.Pages.Stores.Adjustment.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Adjustment</h1>

<p>
    <a asp-page="../Main/Index" asp-route-id="@ViewBag.StoreId">Go back to MyStore</a>
</p>
<p>
    <a asp-page="Create" asp-route-storeId="@ViewBag.StoreId">Create New</a>
</p>
<form method="post">
    <div hidden>
        <input type="text" value="@ViewData["StoreId"]" name="storeId" id="storeId" />
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary" id="status-pending">
            <input type="radio" asp-for="status" autocomplete="off" value="PENDING" checked> Pending
        </label>
        <label class="btn btn-outline-primary" id="status-accepted">
            <input type="radio" asp-for="status" autocomplete="off" value="ACCEPTED"> Accepted
        </label>
    </div>
    <button class="btn btn-primary" type="submit"> Filter </button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].DtTrx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].InvStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].InvTrxType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].InvTrxHdrStatu)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InvTrxHdr)
        {
            <tr>
                <td>
                    @item.DtTrx.ToString("MMM dd yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvStore.StoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvTrxType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvTrxHdrStatu.Status)
                </td>
                <td>
                    @if (item.InvTrxHdrStatusId == 1)
                    {
                        <button class="btn btn-primary" onclick="ApproveHdr('@item.Id')"> Accept </button>
                        <button class="btn btn-light" onclick="ApproveHdr('@item.Id')"> Cancel </button>
                    }

                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        function ApproveHdr(id) {
            $.post('/api/ApiTrxHdrs/PurchaseOrderApprove?id=' + id, { id: id }, (res) => {
                console.log(res);
            }).done(() => {
                window.location.reload(false);
            });
        }

        function CancelHdr(id) {
            $.post('/api/ApiTrxHdrs/PostHdrsCancel?id=' + id, { id: id }, (res) => {
                console.log(res);
            }).done(() => {
                window.location.reload(false);
            });
        }

        $(() => {
            //on init status
            console.log("@Model.status");
            switch ("@Model.status") {
                case "PENDING":
                    $("#status-pending").addClass("active");
                    break;
                case "ACCEPTED":
                    $("#status-accepted").addClass("active");
                    break;
                default:
                    $("#status-pending").addClass("active");
                    break;
            }

        });
    </script>
} 