@page
@model InvWeb.Suppliers.Supplier.IndexModel

@{
    ViewData["Title"] = "Suppliers Index";
}

<h1>Suppliers </h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive card rounded-3 card-round-border">

<table class="table custom-table-list">
    <thead>
        <tr>
            <th>
                Supplier Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierIndexModel.InvSupplier[0].Remarks)
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
   
    <tbody>
        @foreach (var item in Model.SupplierIndexModel.InvSupplier)
        {
        <tr>
            <td>
                <span style="font-size:16px;font-weight:bold;margin-left:15px;">
                @Html.DisplayFor(modelItem => item.Name)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>

                <a asp-page="../SupplierItems/Index" asp-route-id="@item.Id">Supplier Items</a> 
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>