@page
@model InvWeb.Pages.Stores.Receiving.DetailsModel

@{
    ViewData["Title"] = "Details";
    IEnumerable<CoreLib.Inventory.Models.InvTrxDtl> invTrxDtls =Model.ReceivingDetailsModel.InvTrxDtls;
    
    int STATUS_PENDING = 1;
}

<h1>Receiving</h1>

<div>
    <h4> Transaction Header</h4>
    <div>
        @if (Model.ReceivingDetailsModel.InvTrxHdr.InvTrxHdrStatusId == STATUS_PENDING)
        {
            <a asp-page="./Edit" asp-route-id="@Model.ReceivingDetailsModel.InvTrxHdr.Id">Edit</a> <span> | </span>
            <a asp-page="./Index" asp-route-storeId="@Model.ReceivingDetailsModel.InvTrxHdr.InvStoreId" asp-route-status="PENDING">Back to List</a>
            <div class="pull-left">
                <a asp-page="../Printables/RequestForm" asp-route-id="@Model.ReceivingDetailsModel.InvTrxHdr.Id" asp-route-type="@Model.ReceivingDetailsModel.InvTrxHdr.InvTrxTypeId" target="_blank" class="btn btn-primary">Print Voucher</a>
            </div>
        }
        else
        {
            <a asp-page="./Index" asp-route-storeId="@Model.ReceivingDetailsModel.InvTrxHdr.InvStoreId" asp-route-status="ACCEPTED">Back to List</a>
        }
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="row">
                <div class="col-lg-4">
                    Type: @Model.ReceivingDetailsModel.InvTrxHdr.InvTrxType.Type
                </div>
                <div class="col-lg-4">
                    Date: @Model.ReceivingDetailsModel.InvTrxHdr.DtTrx.ToString("MMM dd yyyy")
                </div>
                <div class="col-lg-4">
                    Store: @Model.ReceivingDetailsModel.InvTrxHdr.InvStore.StoreName
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="border:0px solid black;margin:0px 0px;padding:0px;">
                        Remarks: @Model.ReceivingDetailsModel.InvTrxHdr.Remarks
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    Status: @Model.ReceivingDetailsModel.InvTrxHdr.InvTrxHdrStatu.Status
                </div>
                <div class="col-lg-4">
                    Request By: @Model.ReceivingDetailsModel.InvTrxHdr.UserId
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<h4> Transaction Details</h4>
<p>
    @if (Model.ReceivingDetailsModel.InvTrxHdr.InvTrxHdrStatusId == STATUS_PENDING)
    {
        <a asp-page="./ItemDetails/Create" asp-route-hdrId="@Model.ReceivingDetailsModel.InvTrxHdr.Id" class="btn btn-primary">Add Item</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               (Code) Item
            </th>
            <th>
                Heat
            </th>
            <th>
                Material
            </th>
            <th>
                Qty
            </th>
            <th>
                Unit
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in invTrxDtls)
        {
            <tr>
                <td>
                    ( @Html.DisplayFor(modelItem => item.InvItem.Code) )
                    @Html.DisplayFor(modelItem => item.InvItem.Description)
                    @Html.DisplayFor(modelItem => item.InvItem.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNo)
                </td>
                <td>
                    @if(item.InvItem.InvItemSpec_Steel != null){
                        <span>
                            (@item.InvItem.InvItemSpec_Steel.First().SteelBrand.Name)
                            
                            @item.InvItem.InvItemSpec_Steel.First().SteelMaterial.Name 
                        
                            @item.InvItem.InvItemSpec_Steel.First().SteelMaterialGrade.Name - 

                            @item.InvItem.InvItemSpec_Steel.First().SteelOrigin.Name
                        </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvUom.uom)
                </td>

                <td>
                    @if (Model.ReceivingDetailsModel.InvTrxHdr.InvTrxHdrStatusId == STATUS_PENDING)
                    {
                        <a asp-page="./ItemDetails/Edit" asp-route-id="@item.Id">Edit</a><span> | </span> 
                        <a asp-page="./ItemDetails/Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

