@page
@model InvWeb.Pages.Stores.Receiving.FormModel
@{
}
<style>
    .td-bordered {
       border:1px solid lightgray;
    }
</style>

<div style="margin:5px;">

<a asp-page="./Index" asp-route-storeId="@Model.ReceivingDetailsModel.InvTrxHdr.InvStoreId" asp-route-status="PENDING" class="btn btn-default" >Back to List</a>
<a asp-page="../Printables/RequestForm" asp-route-id="@Model.ReceivingDetailsModel.InvTrxHdr.Id" asp-route-type="@Model.ReceivingDetailsModel.InvTrxHdr.InvTrxTypeId" target="_blank" class="btn btn-primary">Print Voucher</a>

</div>
<div class="card" style="width:95%;">

<div style="display: flex;flex-direction: column;align-content: center;">
    <div style=" display:flex;justify-content:center;margin-top:30px;">
        <h2> Company - Warehouse - Mecuayan </h2>
    </div>
    <div style=" display:flex;justify-content:center;margin-bottom:40px;">
         <h3> Receiving Form </h3>
    </div>
        <table class="table">
            <tr>
                <td>
                    <b>  Status : @Model.ReceivingDetailsModel.InvTrxHdr.InvTrxHdrStatu.Status </b>
                </td>
                <td>
                    
                     Requested by:
                     @Model.ReceivingDetailsModel.InvTrxHdr.UserId 
                   
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> Party: </label>
                        
                        <input id="textinput-Party" type="text"  class="form-control" style="width:40rem;" />
                    </div>
                </td>
                <td>
                    <div class="form-group row" >
                        <label class="col-sm-3 col-form-label">   RefNo: </label>
                        <input id="textinput-RefNo" type="text" class="form-control" style="width:10rem;" value="@Model.ReceivingDetailsModel.InvTrxHdr.Id" />
                    </div>
                  
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> Remarks </label>
                        <input id="textinput-HdrRemarks" type="text" class="form-control" style="width:40rem;" />
                    </div>
                </td>
                <td>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">  Date: </label>
                        
                        <input id="textinput-Date" type="date" class="form-control" style="width:10rem;" />
                    </div>
                </td>
            </tr>
        </table>
</div>

    <div style="margin:15px;">

        <table class="table" style="border:1px solid lightgray;" id="ItemsTable">
        <tr>
            <th>
                PARTICULARS
            </th>
                <th class="td-bordered">
                QTY
            </th>
            <th class="td-bordered">
                UOM
            </th>
             <th class="td-bordered">
                REMARKS
            </th>
            <th>

            </th>


        </tr>

        <!-- ITEMS -->
            @foreach (var item in Model.ReceivingDetailsModel.InvTrxDtls)
        {
        <tr>
            <td style="min-width:40rem;">
                ( @item.InvItem.Code )
                @item.InvItem.Description
            </td>
            <td style="min-width:2rem;">
                @item.ItemQty
            </td>
            <td style="min-width:8rem;">
                @item.InvUom.uom
            </td>
            <td>
                @item.InvItem.Remarks
            </td>
                    <td>
                        <div class="row" style="width:10rem;">
                            <button class="btn btn-outline-primary btn-sm"> Edit </button>
                            <button class="btn btn-outline-danger btn-sm"> X </button>
                        </div>
                    </td>
            </tr>
        }
            <tr id="AddItemsField">
                <td>
                    Item
                    <div style="display:flex;">
                        <select id="itemDropdown" class="form-control" asp-items="ViewBag.InvItems"></select>
                        <img id="ItemTextfieldBtn" src="~/img/icons/icons-search.png" width="37" alt="search" class="item-search-icon">
                    </div>
                </td>
                <td>
                    Qty 
                    <input id="textinput-Qty" type="text"  class="form-control" />
                </td>
                <td>
                    Uom
                    <select id="UomDropdown" class="form-control" asp-items="ViewBag.UomsList"></select>
                </td>
                <td>
                    Remarks
                    <input id="textinput-Remarks" type="text"  class="form-control" />
                </td>
                <td>
                    Actions
                    <div class="row" style="width:10rem;">
                        <button class="btn btn-outline-primary btn-sm" onclick="AddNewItemOnTableRow()"> Add </button>
                        <button class="btn btn-outline-danger btn-sm"> Cancel </button>
                    </div>
                </td>
        </tr>
        
        <tr>
            <td colspan="5">
                TOTAL 
            </td>
        </tr>

        </table>
    </div>
</div>

<div class="col-lg-6" style="margin-top:10px;"> 
     <button class="btn btn-primary">  Request for Approval </button>
</div>

@await Component.InvokeAsync("Dialog", new { items =  ViewData["DialogItems"] , selector = "itemDropdown"  })


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Pages/Stores/Shared/ItemDetails/ItemUomDropdown.js"></script>
    <script src="~/js/Shared/Components/Dialog/DialogItem.js"></script>
    <script src="~/js/Pages/Stores/Receiving/ItemDetails/Create.js"></script>

    <script>

        $(document).ready(function () {

            $("#itemDropdown").val($("#itemDropdown option:first").val());
            //SearchItem(@ViewBag.SelectedItemId); 
            
            var defaultItem = $("#itemDropdown option:first").val();
            GetItemOumsWithId(defaultItem);
        });


        $("#itemDropdown").on('change', () => {

            var itemid = $('#itemDropdown').val();
            var itemDesc = $('#itemDropdown option:selected').text();

            GetItemOumsWithId(itemid);

            UpdateItemInputText(itemDesc);

        });

        function AddNewItemOnTableRow(){

            var invHdrId = $('#textinput-RefNo').val();
            var itemDesc = $('#itemDropdown option:selected').text();
            var itemId = $('#itemDropdown').val();
            var itemQty = $('#textinput-Qty').val();
            var itemUom = $('#UomDropdown option:selected').text();
            var itemRemarks = $('#textinput-Remarks').val();

            $('#ItemsTable tr:last').prev().before('<tr> <td> ' + itemDesc + '</td> <td> ' + itemQty + ' </td> <td> ' + itemUom + ' </td> <td> ' + itemRemarks + ' </td> <td>  </td> </tr>');

            Post_addInvItem(invHdrId, itemId, itemQty, itemUom);
        
        }

        function Post_addInvItem(invHdrId, itemId, itemQty, itemUom) {

            var data = {
                InvTrxHdrId: invHdrId,
                InvItemId: itemId,
                ItemQty: itemQty,
                InvUomId: itemUom
            };

            console.log(data)

            var uriString = '?InvTrxHdrId=' + invHdrId + '&InvItemId=' + itemId + '&ItemQty=' + itemQty + '&InvUomId=' + itemUom;

            $.post('/api/ApiInvTrxDtls/AddTrxDtlItem' + uriString,
            data,
            (res)=>{
                console.log('Request.');
                console.log(res);
            }).done((res)=>{
                console.log('Done.');
                console.log(res);
            });

        }


        function Put_ApiTxDtls_Item(e, id) {
            $.post('/api/ApiTrxDtls/AddTrxDtlItem', { id: id }, (res) => {
                console.log(res);
            }).done(() => {
                $(e).attr('disabled', 'disabled');
            });
        }
    </script>
}