@page
@model InvWeb.Pages.Stores.Receiving.FormModel
@{
    string trxStatus = Model.ReceivingDetailsModel.InvTrxHdr.InvTrxHdrStatu.Status.ToUpper();
    int count = 0;
}

<div style="margin:5px;margin-bottom:10px;display:flex;justify-content:space-between;">
    <div>
        <a asp-page="./Index" asp-route-storeId="@Model.ReceivingDetailsModel.InvTrxHdr.InvStoreId" asp-route-status="@trxStatus" style="margin-right:15px;">  Back to Transaction List</a>
        <a asp-page="../Printables/RequestForm" asp-route-id="@Model.ReceivingDetailsModel.InvTrxHdr.Id" asp-route-type="@Model.ReceivingDetailsModel.InvTrxHdr.InvTrxTypeId" target="_blank" class="btn btn-primary">Print Voucher</a>
    </div>
    <div>
        <a class="btn btn-primary" style="color:white;cursor:pointer;"  onclick="CancelRequest(@Model.ReceivingDetailsModel.InvTrxHdr.Id)">  Cancel Request</a>
    </div>
</div>

<hr />

<div class="Receiving-status-div">
    <h2> Transaction Status : @trxStatus </h2>
    <div class="row" style="margin-left:20px;">
        <div class="col-3">
            1. Encoding Request
        </div>
        <div class="col-3">
            2. Approved
        </div>
        <div class="col-3">
            3. Receive Items
        </div>
        <div class="col-3">
            4. Closed
        </div>
    </div>
    <div class="progress" style="width:95%;">
        <div class="progress-bar" id="progressbar-status" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="card card-full-width">
    <div class="Receiving-Form-H4">
        <h4> Company - Warehouse - Mecuayan </h4>
    </div>
    <div class="Receiving-Form-H5">
        <h5> Receiving Form </h5>
    </div>

    <div class="Receiving-Form-Header-Fields">

        <div class="Receiving-Form-Header-Fields-Container">
          
            <table class="table" style="margin-bottom:0px;">
                <tr>
                    <td style="padding-left:0px;border:none;">
                        <b>  Status : @Model.ReceivingDetailsModel.InvTrxHdr.InvTrxHdrStatu.Status </b>
                    </td>
                    <td style="padding-left:0px;border:none;">
                        Requested by:
                        @Model.ReceivingDetailsModel.InvTrxHdr.UserId

                    </td>
                </tr>
                <tr>
                    <td style="padding:0px;border:none;">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"> Party: </label>

                            <input id="textinput-Party" type="text" class="form-control" style="width:40rem;" />
                        </div>
                    </td>
                    <td style="padding:0px;border:none;">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">  RefNo </label>
                            <input id="textinput-RefNo" type="text" class="form-control" style="width:10rem;" value="@Model.ReceivingDetailsModel.InvTrxHdr.Id" readonly />
                        </div>

                    </td>
                </tr>
                <tr>
                    <td style="padding:0px;border:none;">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"> Remarks </label>
                            <input id="textinput-HdrRemarks" type="text" class="form-control" style="width:40rem;" value="@Model.ReceivingDetailsModel.InvTrxHdr.Remarks" />
                        </div>
                    </td>
                    <td style="padding:0px;border:none;">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">  Date: </label>

                            <input id="textinput-Date" type="date" class="form-control" style="width:10rem;" disabled />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

<div class="Form-Display-Items-Table">
    <div style="margin:15px;">

        <table class="table" style="border:1px solid lightgray;" id="ItemsTable">

         <thead class="thead-dark">
            <tr>
                <th >
                    PARTICULARS
                </th>
                    <th class="td-bordered" style="width:5rem;">
                    QTY
                </th>
                 <th class="td-bordered" style="width:8rem;">
                    UOM
                </th>
                 <th class="td-bordered">
                    REMARKS
                </th>
                <th>

                </th>
            </tr>
        </thead>

        <!-- ITEMS -->
        @foreach (var item in Model.ReceivingDetailsModel.InvTrxDtls)
        {
         int ItemCountExpectedBalance = 0;
           { 
              count += 1;
               int totalReceivedItemCount = item.InvTrxDtlxItemMasters.Sum(c => c.InvItemMaster.ItemQty);

               ItemCountExpectedBalance = item.ItemQty - totalReceivedItemCount;
          }
            <tr id="itemDetails-@item.Id" cite="">
                <td id="itemDescEdit-@item.Id">
                    @count .)
                    ( @item.InvItem.Code )
                    @item.InvItem.Description
                    
                    @if(item.InvTrxDtlxItemMasters != null){
                            foreach (var itemMaster in item.InvTrxDtlxItemMasters)
                            {
                                <br>
                                    <span style="color:gray;margin-left:15px;">
                                     Lot: @itemMaster.InvItemMaster.LotNo - Batch: @itemMaster.InvItemMaster.BatchNo  /  @itemMaster.InvItemMaster.InvItemBrand.Name - @itemMaster.InvItemMaster.InvItemOrigin.Name 
                                     &#x2192; 
                                     Area: @itemMaster.InvItemMaster.InvStoreArea.Name
                                     &nbsp;
                                     Qty: @itemMaster.InvItemMaster.ItemQty
                                
                                 @if(!string.IsNullOrEmpty(@itemMaster.InvItemMaster.Remarks)){
                                      <br /> <span style="margin-left:15px;"> Remarks: @itemMaster.InvItemMaster.Remarks</span>
                                 }
                                </span> 
                            }
                        }
                </td>
                <td id="itemDetails-Qty-@item.Id">
                    @item.ItemQty

                    @if( item.InvTrxDtlxItemMasters.Count() > 0 ){
                           int totalReceivedCount = item.InvTrxDtlxItemMasters.Sum(c => c.InvItemMaster.ItemQty);

                           <span style="color:green;">
                               / @totalReceivedCount
                           </span>
                     }

                </td>
                <td >
                    @item.InvUom.uom
                </td>
                <td>
                    @item.InvItem.Remarks
                </td>
                        <td>
                            @if (trxStatus == "APPROVED")
                            {
                                @if(ItemCountExpectedBalance > 0){

                                    <div style="width:7rem;">
                                        <button class="btn btn-outline-primary btn-sm" onclick="ReceiveItemRow( @item.Id, @ItemCountExpectedBalance)"> Receive Item </button>
                                    </div>
                                }
                            }

                            @if (trxStatus == "REQUEST")
                            {
                            <div class="trx-items-actions" style="min-width:5rem;display:flex;" >
                                <button class="btn btn-outline-primary btn-sm" onclick="EditExisitingItemRow(this, @item.Id)" style="padding:3px 12px;margin-right:5px"> Edit </button>
                                <button class="btn btn-outline-danger btn-sm" onclick="RemoveItemFromTable(this, @item.Id)" style="padding:3px 10px;"> X </button>
                            </div>
                            }
                        </td>
                </tr>
            }

            <tr>
                    <td colspan="5" id="AddItem-btn-td">
                    <button id="AddItem-btn" class="btn btn-outline-primary btn-sm" onclick="ShowAddItem()" style="padding:10px;"> 
                        Add Item 
                    </button>
                </td>
            </tr>


            <tr id="AddItemsField" class="Receiving-Form-Add-Item">
                <td>
                   Add New Item
                    <div style="display:flex;">
                            <select id="itemDropdown" class="form-control" asp-items="ViewBag.InvItems"></select>
                        <img id="ItemTextfieldBtn" src="~/img/icons/icons-search.png" width="32" alt="search" class="item-search-icon">
                    </div>
                </td>
                <td>
                    Qty 
                    <input id="textinput-Qty" type="text"  class="form-control" value="1" />
                   
                </td>
                <td>
                    Uom
                    <select id="UomDropdown" class="form-control" asp-items="ViewBag.UomsList"></select>
                </td>
                <td>
                   @* Remarks
                    <input id="textinput-Remarks" type="text"  class="form-control" />*@
                </td>
                <td>
                    
                    <div class="row" style="width:10rem;margin-left: 1px;margin-top:5px;">
                            <button class="btn btn-outline-success btn-sm" onclick="AddNewItemOnTableRow()" style="padding:5px;margin-right:5px;"> <i class="bi bi-check-lg" style="font-size:1rem; color:green;"> </i> Save </button>
                         <button class="btn btn-outline-danger btn-sm" onclick="Cancel_AddNewItemOnTableRow()" style="padding:5px;"> <i class="bi bi-x-lg" style="font-size:1rem; color:red;"> </i> Cancel </button>
                    </div>
                </td>
            </tr>
        
      @*   <tr>
            <td colspan="5">
                TOTAL 
            </td>
        </tr> *@

        </table>
    </div>
    </div>
</div>
<div class="col-lg-6" style="margin-top:10px;">

    @if (trxStatus == "REQUEST")
    {
        <a asp-page="./Index" class="btn btn-primary" asp-route-storeId="@Model.ReceivingDetailsModel.StoreId" asp-route-Status="PENDING">Request for Approval</a>

    }

    @if (trxStatus == "APPROVED")
    {
        <a asp-page="./Index" class="btn btn-primary" asp-route-storeId="@Model.ReceivingDetailsModel.StoreId" asp-route-Status="PENDING">ALL ITEMS RECEIVED and CLOSE </a>

    }

</div>

@await Component.InvokeAsync("Dialog", new { items =  ViewData["DialogItems"] , selector = "itemDropdown"  })
@await Component.InvokeAsync("SearchItemEdit", new { items =  ViewData["DialogItems"] , selector = "itemEditDropdown"  })

@{
    Html.RenderPartial("ModalAddItem");
    Html.RenderPartial("ModalReceiveItem");
    Html.RenderPartial("ModalReceiveItemEdit");
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Pages/Stores/Shared/ItemDetails/ItemUomDropdown.js"></script>
    <script src="~/js/Shared/Components/Dialog/DialogItem.js"></script>
    <script src="~/js/Pages/Stores/Receiving/ItemDetails/Create.js"></script>
    <script src="~/js/Pages/Stores/Receiving/Form.js"></script>

    <script>

        $(document).ready(function () {

            $("#itemDropdown").val($("#itemDropdown option:first").val());
            //SearchItem(@ViewBag.SelectedItemId); 
            
            var defaultItem = $("#itemDropdown option:first").val();
            GetItemOumsWithId(defaultItem);

            if ("@trxStatus" == "APPROVED") {
                $("#AddItemsField").hide();
                $(".trx-items-actions").hide();
                $("#progressbar-status").css('width', '35%');

                DisableEditOnApproved();
            }

            if("@trxStatus" == "REQUEST"){
                $("#progressbar-status").css('width','10%');
            }

            if ("@trxStatus" == "CLOSED") {
                $("#progressbar-status").css('width', '100%');
            }

            $("#textinput-Date").val('@ViewBag.DateToday');
            //$("#DateTransaction").datepicker("setDate", '@ViewBag.DateToday');
        });


        function DisableEditOnApproved() {
            $("#textinput-Party").prop('disabled', true);
            $("#textinput-HdrRemarks").prop('disabled', true);
            $("#ÄddItem-btn").hide();
        }


    </script>
}