@page "{storeId:int?}"
@model InvWeb.Pages.Stores.Receiving.IndexModel

@{
    ViewData["Title"] = "Receiving";
}

<h1>Receiving</h1>

<p>
    <a asp-page="../Main/Index" asp-route-id="@ViewBag.StoreId">Go back to MyStore</a>
</p>
<p>
    <a asp-page="Create" asp-route-storeId="@ViewBag.StoreId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].DtTrx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].InvStore)
            </th>
            <th>
                Type
            </th>
            <th>
                Status
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InvTrxHdr)
        {
            <tr>
                <td>
                    @item.DtTrx.ToString("MMM dd yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvStore.StoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvTrxType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvTrxHdrStatu.Status)
                </td>
                <td>
                    @if (item.InvTrxHdrStatusId == 1)
                    {
                        <button class="btn btn-light" onclick="ApproveHdr('@item.Id')"> Approve </button>
                    }
                    else if (item.InvTrxHdrStatusId == 1)
                    {
                        <a asp-page="./Close" asp-route-id="@item.Id"> Close |</a>
                    }
                    <a asp-page="./Approve" asp-route-id="@item.Id"> Cancel </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        function ApproveHdr(id) {
            $.post('/api/ApiTrxHdrs/PostHdrsApprove?id=' + id, { id: id }, (res) => {
                console.log(res);
            }).done(() => {
                window.location.reload(false);
            });;
        }
    </script>
} 