@page 
@model InvWeb.Pages.Stores.Receiving.IndexModel

@{
    ViewData["Title"] = "Receiving";

    bool IsAdmin = Model.ReceivingIndexModel.IsAdmin;

    int STATUS_PENDING = 1;
    int STATUS_ACCEPTED = 2;
    int STATUS_APPROVED = 5;
    int STATUS_VERIFIED = 6;
}

<h1>
    Receiving

    @if (Model.Status == "ACCEPTED")
    {
        <span style="font-size:1rem;">(Approved)</span>
    }
    else if (Model.Status == "PENDING")
    {
        <span style="font-size:1rem;">(Pending Approval)</span>
    }
    else
    {
        <span style="font-size:1rem;">(All)</span>
    }

</h1>

<p>
    <a asp-page="../Main/Index" asp-route-id="@Model.ReceivingIndexModel.StoreId">Go back to MyStore</a> |
    @if (Model.ReceivingIndexModel.Status == "ACCEPTED")
    {
        <a asp-page="./Index" asp-route-storeId="@Model.ReceivingIndexModel.StoreId" asp-route-Status="PENDING">Go recent Pendings</a>
    }
    else if (Model.ReceivingIndexModel.Status == "PENDING")
    {
        <a asp-page="./Index" asp-route-storeId="@Model.ReceivingIndexModel.StoreId" asp-route-Status="ACCEPTED">Go recent Approval</a>
    }
    else
    {
        <a asp-page="./Index" asp-route-storeId="@Model.ReceivingIndexModel.StoreId" asp-route-Status="PENDING">Go recent Pendings</a>
    }
</p>
<p>
    <a asp-page="Create" asp-route-storeId="@Model.ReceivingIndexModel.StoreId" class="btn btn-primary">Create New</a>
</p>

<form method="post" >
    <div hidden>
        <input type="text" value="@Model.ReceivingIndexModel.StoreId" name="storeId" id="storeId" />
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary" id="status-pending">
            <input type="radio" asp-for="Status" autocomplete="off" value="PENDING" checked> Request
        </label>
        <label class="btn btn-outline-primary" id="status-approved">
            <input type="radio" asp-for="Status" autocomplete="off" value="APPROVED"> Approved
        </label>
        <label class="btn btn-outline-primary" id="status-verified">
            <input type="radio" asp-for="Status" autocomplete="off" value="VERIFIED"> Verified
        </label>
        <label class="btn btn-outline-primary" id="status-accepted">
            <input type="radio" asp-for="Status" autocomplete="off" value="ACCEPTED"> Accepted
        </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary" id="orderby-asc">
            <input type="radio" asp-for="Orderby" autocomplete="off" value="ASC" checked> ASC
        </label>
        <label class="btn btn-outline-primary" id="orderby-desc">
            <input type="radio" asp-for="Orderby" autocomplete="off" value="DESC"> DESC
        </label>
    </div>
    <button class="btn btn-primary" type="submit"> Filter </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                LotNo
            </th>
            <th>
                Date
            </th>
            <th>
                Remarks
            </th>
            <th>
                Details
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReceivingIndexModel.InvTrxHdrs)
        {
            <tr>
                <td>
                    
                    @item.Id
                </td>
                <td>
                    @item.DtTrx.ToString("MMM dd yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    <div>
                        <table class="table table-borderless">
                            
                            @foreach (var dlts in item.InvTrxDtls)
                            {
                                
                                <tr>
                                    <td>
                                        ( @dlts.InvItem.Code )
                                        @dlts.InvItem.Description
                                        @dlts.InvItem.Remarks
                                    </td>
                                    <td>
                                        @dlts.InvItem.Material
                                    </td>
                                    <td>
                                        @dlts.BatchNo
                                    </td>
                                    <td>
                                        @dlts.ItemQty

                                        @if (dlts.InvUom != null)
                                        {
                                            @dlts.InvUom.uom
                                        }
                                    </td>
                                </tr>
                            }
                         </table>
                    </div>
                </td>
                <td>

                    @if (item.InvTrxHdrStatusId == STATUS_PENDING && IsAdmin)
                    {
                        <button class="btn btn-primary" onclick="ApprovedTrxHdr(this, '@item.Id')"> Approve </button>
                    }

                    @if (item.InvTrxHdrStatusId == STATUS_APPROVED && IsAdmin)
                    {
                        <button class="btn btn-primary" onclick="VerifiedTrxHdr(this,'@item.Id')"> Verified </button>
                    }

                    @if (item.InvTrxHdrStatusId == STATUS_VERIFIED && IsAdmin)
                    {
                        <button class="btn btn-primary" onclick="ApproveHdr(this,'@item.Id')"> Accept </button>
                    }

                    </td>
                    <td>

                    @if(item.InvTrxHdrStatusId == STATUS_PENDING){
                       
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> <span> | </span> 
                    }

                    @if (item.InvTrxHdrStatusId == STATUS_ACCEPTED)
                    {
                        <a asp-page="../Printables/RequestForm" asp-route-id="@item.Id" asp-route-type="@item.InvTrxTypeId" target="_blank">Print</a>
                        <span> | </span>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> <span> | </span>
                    }
                 
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                    
                    @if (item.InvTrxHdrStatusId == STATUS_PENDING)
                    {
                        <span> | </span> <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }

        @if (Model.ReceivingIndexModel.InvTrxHdrs == null)
        {
            <tr>
                <td class="text-center" colspan="6">
                    <span class="text-info"> No result found</span>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" src="~/js/Store/IndexFilter.js"> </script>
    <script>

        $(() => {
            //on init status
            StatusFilter("@Model.ReceivingIndexModel.Status");
            OrderFilter("@Model.ReceivingIndexModel.Order");
        });
    </script>
} 