@page
@model InvWeb.Pages.Masterfiles.ItemUoms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Units</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive card rounded-3 card-round-border">

    <table class="table custom-table-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvUom[0].uom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.InvUom) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.uom)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>   