@page
@model InvWeb.Pages.Stores.IndexModel

@{
    InvWeb.Shared.SystemSetting syssetting = new InvWeb.Shared.SystemSetting();
    ViewData["Title"] = syssetting.GetValue("Store");
    string sStore = syssetting.GetValue("Store");
}

<h1>@sStore</h1>

<p>
    @*<a asp-page="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @sStore
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InvStore) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                <a asp-page="./Users/Index" asp-route-id="@item.Id">Users</a> |
                @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |

                    <a asp-page="../../Stores/Main/Index" asp-route-id="@item.Id">Go to @sStore Page</a>
            </td>
        </tr>
}
    </tbody>
</table>
