@page
@model InvWeb.Pages.Stores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Stores</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvStore[0].StoreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InvStore) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                
                <a asp-page="./Main" asp-route-id="@item.Id">Go to Store Page</a>
            </td>
        </tr>
}
    </tbody>
</table>
