@model IEnumerable<CoreLib.Models.SysDB.EntAddress>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.add1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Add2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Add3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Add4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telno1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telno2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysSetupType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.add1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Add2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Add3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Add4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telno1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telno2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntCompany.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysSetupType.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
