@page
@model InvWeb.Pages.Masterfiles.ItemMaster.Classifications.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InvItemClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemClass.InvItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemClass.InvItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemClass.InvClassification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemClass.InvClassification.Classification)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InvItemClass.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="../Details" asp-route-id="@Model.InvItemClass.InvItemId">Back to List</a>
    </form>
</div>
