@page
@model InvWeb.Pages.Masterfiles.ItemStoreArea.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvStoreArea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvStoreArea.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvStoreArea.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvStoreArea.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvStoreArea.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvStoreArea.InvStore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvStoreArea.InvStore.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InvStoreArea.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
