@page "{hdrId:int?}"
@model InvWeb.Pages.Stores.Releasing.ItemDetails.CreateModel

@{
    ViewData["Title"] = "Create";
    var LotNotItems = Model.ItemDtlsCreateEditModel.LotNoItems;
}

<h1>Create</h1>

<h4>Releasing Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ItemDtlsCreateEditModel.InvTrxDtl.InvTrxHdrId" class="control-label"></label>
                <select asp-for="ItemDtlsCreateEditModel.InvTrxDtl.InvTrxHdrId" class="form-control" asp-items="Model.ItemDtlsCreateEditModel.InvTrxHdrs"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Item</label>
                <select asp-for="ItemDtlsCreateEditModel.InvTrxDtl.InvItemId" class="form-control search-dropdown-initialize select2" asp-items="Model.ItemDtlsCreateEditModel.InvItems" id='itemDropdown'></select>
            </div>
            <div class="form-group">
                <label class="control-label"> HeatNo </label>
                <input asp-for="ItemDtlsCreateEditModel.InvTrxDtl.BatchNo" class="form-control" maxlength="20" />
                <span asp-validation-for="ItemDtlsCreateEditModel.InvTrxDtl.BatchNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDtlsCreateEditModel.InvTrxDtl.LotNo" class="control-label"></label>
                @*<select asp-for="InvTrxDtl.LotNo" class="form-control" asp-items="ViewBag.LotNo" id="LotNo"></select>*@
                <div class="col-lg-12">
                    <div class="row">
                        <select asp-for="ItemDtlsCreateEditModel.InvTrxDtl.LotNo" class="form-control col-sm-8" asp-items="Model.ItemDtlsCreateEditModel.LotNo" id="LotNo"></select>
                        <span class="btn btn-primary col-sm-4" data-toggle="modal" data-target="#SearchLotNoModal"> Search </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Qty</label>
                <input asp-for="ItemDtlsCreateEditModel.InvTrxDtl.ItemQty" class="form-control" value="1" />
                <span asp-validation-for="ItemDtlsCreateEditModel.InvTrxDtl.ItemQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Uom</label>
                <select asp-for="ItemDtlsCreateEditModel.InvTrxDtl.InvUomId" class="form-control" asp-items="Model.ItemDtlsCreateEditModel.InvUoms" id="UomDropdown"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ItemDtlsCreateEditModel.InvTrxDtl.InvTrxDtlOperatorId" class="control-label"></label>
                <select asp-for="ItemDtlsCreateEditModel.InvTrxDtl.InvTrxDtlOperatorId" class="form-control" asp-items="Model.ItemDtlsCreateEditModel.InvTrxDtlOperators"></select>
            </div>
            <div class="form-group">
                @if (LotNotItems.Count() != 0)
                {
                    <input type="submit" value="Create" class="btn btn-primary" />
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Details" asp-route-id="@ViewBag.HdrId">Back to List</a>
</div>

<div hidden>
    <input value="@Model.ItemDtlsCreateEditModel.StoreId" id="StoreId" />
</div>

@{ await Html.RenderPartialAsync("_SearchLotNoModal"); }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Store/ItemUomDropdown.js"></script>

    <script>

        $('#itemDropdown').on('change', () => {

            //get selected item id
            var itemId = $('#itemDropdown').val();

            //get url
            var currentUrl = document.location.href;
            var url = new URL(currentUrl);

            //update url param
            url.searchParams.set("invItemId", itemId);
            var newUrl = url.href;

            //reload page
            document.location = newUrl;
        });

        function SelectLotNo(id) {
            $('#LotNo').val(id);

            $("#SearchLotNoModal").modal("hide");
        }


        $(document).ready(function () {
            var defaultItem = $("#itemDropdown option:first").val();
            GetItemOumsWithId(defaultItem);

            SearchItem();
        });

        function SearchItem() {

            if (@ViewBag.SelectedItemId != 0) {

                $('#itemDropdown').val(@ViewBag.SelectedItemId).change();
                GetItemOumsWithId(@ViewBag.SelectedItemId);
            }
        }


    </script>
}
