@page
@model InvWeb.Pages.Stores.Releasing.ItemDetails.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvTrxDtl</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrxDetailsItem.InvTrxDtl.InvTrxHdr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrxDetailsItem.InvTrxDtl.InvTrxHdr.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrxDetailsItem.InvTrxDtl.InvItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrxDetailsItem.InvTrxDtl.InvItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrxDetailsItem.InvTrxDtl.ItemQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrxDetailsItem.InvTrxDtl.ItemQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrxDetailsItem.InvTrxDtl.InvUom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrxDetailsItem.InvTrxDtl.InvUom.uom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrxDetailsItem.InvTrxDtl.BatchNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrxDetailsItem.InvTrxDtl.BatchNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TrxDetailsItem.InvTrxDtl.Id">Edit</a> |
    <a asp-page="../Details" asp-route-id="@Model.TrxDetailsItem.InvTrxDtl.InvTrxHdrId">Back to List</a>
</div>
