@page "{SearchStr?}"
@model InvWeb.Pages.Masterfiles.ItemSearch.SearchModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<form method="get">
    <input type="text" asp-for="SearchStr"  />

    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Description
            </th>

            <th>
                Category
            </th>
            <th>
                Sub-Category
            </th>
            <th>
                Brand
            </th>
            <th>
                Origin
            </th>
            <th>
                Material
            </th>
            <th>
                Material Grade
            </th>
            <th>
                Kgm
            </th>
            <th>
                Kgpc
            </th>

            <th>
                Qty
            </th>
            <th>
                InvUom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemSearchResults) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)

                    @if (!String.IsNullOrEmpty(item.ItemRemarks))
                    {
                        <br />
                        <span style="color:gray;">
                            @Html.DisplayFor(modelItem => item.ItemRemarks)
                        </span>
                    }

                    @if(!String.IsNullOrEmpty(item.ItemSpec)){
                        <br />
                        <span style="font-size:11px;"> @item.ItemSpec </span>
                    }
                </td>

                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelMainCat.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelSubCat.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelBrand.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelOrigin.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelMaterial.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.SteelMaterialGrade.Name
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.WtKgpc
                    }
                </td>
                <td>
                    @if (item.InvItemSpec_Steel != null)
                    {
                        @item.InvItemSpec_Steel.WtKgm
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uom)
                </td>
                <td>
                  @*   <a asp-page="./ItemPrices" asp-route-id="@item.Id">Supplier Prices</a> | *@
                    <a asp-page="./StoreStocks" asp-route-id="@item.Id">Store Stocks</a>
                </td>
            </tr>
         } 
    </tbody>
</table>
