
@model IEnumerable<CoreLib.DTO.Common.Dialog.DialogItems>
@{

}

<style>

</style>

<!-- Modal -->
<div class="modal fade" id="itemSearchModal" tabindex="-1" role="dialog" aria-labelledby="itemSearchModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content dialog-search-form">
            <div class="modal-header">
                <h5 class="modal-title" id="itemSearchModal"> Search Item </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div>
                    <input type="text" class="form-control" id="SearchBar" onkeyup="SearchCompany()" style="width:100% !important; margin-bottom:5px;" />
                </div>

                <table class="table" id="SearchList">
                   
                   <tr>
                        <th> ID </th>
                        <th> Name </th>
                        <th> Description </th>
                   </tr>
               
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                                <button class="btn btn-primary" onclick="SelectItemFromDialog('@ViewBag.Selector', @item.Id)">
                                    Select @item.Id
                                </button>
                        </td>
                        <td class="item-name">
                          @*  @item.Name*@

                                @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="item-desc">
                            @item.Description
                        </td>
                    </tr>
                }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
