@page
@model InvWeb.Pages.Masterfiles.Stores.Users.DeleteModel

@{
    ViewData["Title"] = "Delete - Store Users";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Store User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvStoreUser.InvStoreUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvStoreUser.InvStoreUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvStoreUser.InvStore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvStoreUser.InvStore.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InvStoreUser.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index"  asp-route-id="@Model.InvStoreUser.InvStoreId">Back to List</a>
    </form>
</div>
