@page
@model InvWeb.Pages.Masterfiles.Stores.Users.DetailsModel

@{
    ViewData["Title"] = "Details - Store User";
}

<h1>Details</h1>

<div>
    <h4>Store User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvStoreUser.InvStoreUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvStoreUser.InvStoreUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvStoreUser.InvStore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvStoreUser.InvStore.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InvStoreUser.Id">Edit</a> |
    <a asp-page="./Index"  asp-route-id="@Model.InvStoreUser.InvStoreId">Back to List</a>
</div>
