@page
@model InvWeb.Pages.Masterfiles.ItemMaster.CustomSpec.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InvItemCustomSpec</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemCustomSpec.SpecValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemCustomSpec.SpecValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemCustomSpec.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemCustomSpec.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemCustomSpec.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemCustomSpec.Order)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemCustomSpec.InvItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemCustomSpec.InvItem.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvItemCustomSpec.InvCustomSpec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvItemCustomSpec.InvCustomSpec.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InvItemCustomSpec.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
