@page
@model InvWeb.Pages.Stores.Receiving.ItemDetails.EditModel

@{
    ViewData["Title"] = "Edit";

    var itemMaster = ViewBag.InvItemMaster as CoreLib.Models.Inventory.InvItemMaster;
}

<h1>Edit</h1>

<h4>Transaction Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemDtlsEditModel.InvTrxDtl.Id" />
            <div class="form-group" hidden>
                <label asp-for="ItemDtlsEditModel.InvTrxDtl.InvTrxHdrId" class="control-label"></label>
                <select asp-for="ItemDtlsEditModel.InvTrxDtl.InvTrxHdrId" class="form-control" asp-items="Model.ItemDtlsEditModel.InvTrxHdrs"></select>
                <span asp-validation-for="ItemDtlsEditModel.InvTrxDtl.InvTrxHdrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">   </label>
                <a asp-page="./SearchItem" id="SearchItem-link" asp-route-id="@Model.ItemDtlsEditModel.InvTrxDtl.InvTrxHdrId" asp-route-itemDetailsId="@Model.ItemDtlsEditModel.InvTrxDtl.Id" asp-route-actionType="Edit" class="btn btn-primary" style="width:80%;"> Update brand/origin <img src="/img/icons/icons-search.png" width="15" height="15" alt="search" /> </a>
            </div>
            <div class="form-group">
                <label class="control-label"> Item </label>
                <select asp-for="ItemDtlsEditModel.InvTrxDtl.InvItemId" class="form-control search-dropdown-initialize select2" asp-items="Model.ItemDtlsEditModel.InvItems" id='itemDropdown'></select>
                <span asp-validation-for="ItemDtlsEditModel.InvTrxDtl.InvItemId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label class="control-label"> HeatNo </label>
                <input asp-for="ItemDtlsEditModel.InvTrxDtl.BatchNo" class="form-control" maxlength="20" />
                <span asp-validation-for="ItemDtlsEditModel.InvTrxDtl.BatchNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Qty </label>
                <input asp-for="ItemDtlsEditModel.InvTrxDtl.ItemQty" class="form-control" />
                <span asp-validation-for="ItemDtlsEditModel.InvTrxDtl.ItemQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Uom  </label>
                <select asp-for="ItemDtlsEditModel.InvTrxDtl.InvUomId" class="form-control" asp-items="Model.ItemDtlsEditModel.InvUoms" id="UomDropdown"></select>
                <span asp-validation-for="ItemDtlsEditModel.InvTrxDtl.InvUomId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ItemDtlsEditModel.InvTrxDtl.InvTrxDtlOperatorId" class="control-label"></label>
                <select asp-for="ItemDtlsEditModel.InvTrxDtl.InvTrxDtlOperatorId" class="form-control" asp-items="Model.ItemDtlsEditModel.InvTrxDtlOperators"></select>
                <span asp-validation-for="ItemDtlsEditModel.InvTrxDtl.InvTrxDtlOperatorId" class="text-danger"></span>
            </div>

            @if (itemMaster != null)
            {
                <div class="form-group"> 
                    <label class="control-label"> Item Masters </label>
                <div>
                    <span style="margin-right:12px;">
                        @itemMaster.ItemQty @itemMaster.InvUom.uom
                    </span>
                    <span style="margin-right:10px;">  @itemMaster.InvItemBrand.Name </span>
                    <span style="margin-right:12px;">  @itemMaster.InvItemOrigin.Name </span>
                    <span>
                            <a asp-page="../InvItemMasters/Edit" asp-route-id="@itemMaster.Id" asp-route-invTrxDtlId="@Model.ItemDtlsEditModel.InvTrxDtl.Id"> Edit </a>
                    </span>
                </div>
            </div>
            }


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>


<div>
    <p>
        <a asp-page="../Details" asp-route-id="@ViewBag.InvTrxHdrId">Back to List</a>
    </p>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Pages/Stores/Shared/ItemDetails/ItemUomDropdown.js"></script>
    <script src="~/js/Pages/Stores/Receiving/ItemDetails/Create.js"></script>

    <script>
         
        $(document).ready(function () {

            SearchItem(@ViewBag.SelectedItemId);
        });


        $("#itemDropdown").on('change', () => {

            var itemid = $('#itemDropdown').val();
            var hdrId = @Model.ItemDtlsEditModel.HrdId;
            var itemDetailsId = @Model.ItemDtlsEditModel.InvTrxDtl.Id;

            UpdateLink(hdrId, itemDetailsId, itemid);

        });

    </script>
}
