@page "{id:int?}"
@model InvWeb.Pages.Stores.Receiving.ItemDetails.SearchItemModel

@{
    ViewData["Title"] = "Search Item";
}

<h1>Search Item</h1>

<div>
    @if (ViewBag.ActionType == "Create")
    {
        <a asp-page="@ViewBag.ActionType" asp-route-hdrid="@Model.HdrId">Back to Add Item</a>
    }
    @if (ViewBag.ActionType == "Edit")
    {
        <a asp-page="@ViewBag.ActionType" asp-route-id="@ViewBag.ItemDetailsId">Back to Edit Item</a>
    }
</div>

<form method="post">
    <div class="row ">
        <div class="col-md-5">
            <h4>Item Specifications</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label"> Main Category </label>
                <select asp-for="InvItemSpec_Steel.SteelMainCatId" id="SteelMainCatId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelMainCats"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Sub Category </label>
                <select asp-for="InvItemSpec_Steel.SteelSubCatId" id="SteelSubCatId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelSubCats"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Steel Size </label>
                <select asp-for="InvItemSpec_Steel.SteelSizeId" id="SteelSizeId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelSizes"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Steel Brand </label>
                <select asp-for="InvItemSpec_Steel.SteelBrandId" id="SteelBrandId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelBrands"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Steel Origin </label>
                <select asp-for="InvItemSpec_Steel.SteelOriginId" id="SteelOriginId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelOrigins"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Steel Material </label>
                <select asp-for="InvItemSpec_Steel.SteelMaterialId" id="SteelMaterialId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelMaterials"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Steel Material Grade </label>
                <select asp-for="InvItemSpec_Steel.SteelMaterialGradeId" id="SteelMaterialGradeId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelMaterialGrades"></select>
            </div>

            <div class="form-group" hidden> 
                <label class="control-label">HDRID </label>
                <input asp-for="HdrId" id="HdrId" class="form-control" value="@ViewBag.HdrId">
            </div>

            <div class="form-group" hidden>
                <label class="control-label">HDRID </label>
                <input asp-for="ItemDetailsId" id="ItemDetailsId" class="form-control" value="@ViewBag.ItemDetailsId">
            </div>

            <div class="form-group" hidden>
                <label class="control-label">Action Type </label>
                <input asp-for="ActionType" id="ActionType" class="form-control" value="@ViewBag.ActionType">
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
        
    </div>
</form>

<hr />
<h3> Item List Search Result </h3>


@if (Model.ItemList != null)
    {
    @if (Model.ItemList.Count() == 0)
    {
        <h4> No Items Found </h4>
    }
    else
    {

        <div class="list-group">
            @foreach (var item in Model.ItemList)
            {
                @if (ViewBag.ActionType == "Create")
                {
                    <a asp-page="./@ViewBag.ActionType" class="list-group-item list-group-item-action" asp-route-itemId="@item.Id" asp-route-hdrId="@Model.HdrId">  (@item.Code)  -  @item.Description </a>
                }

                @if (ViewBag.ActionType == "Edit")
                {
                    <a asp-page="./@ViewBag.ActionType" class="list-group-item list-group-item-action" asp-route-itemId="@item.Id" asp-route-id="@Model.HdrId">  (@item.Code)  -  @item.Description </a>
                }
            }
        </div>
    }
}