@page "{id:int?}"
@model InvWeb.Pages.Stores.Receiving.ItemDetails.SearchItemModel

@{
    ViewData["Title"] = "Search Item";
}

<h1>Search Item</h1>
<h4>Item Specifications</h4>
<div>
    @if (ViewBag.ActionType == "Create")
    {
        <a asp-page="@ViewBag.ActionType" asp-route-hdrid="@Model.HdrId">Back to Add Item</a>
    }
    @if (ViewBag.ActionType == "Edit")
    {
        <a asp-page="@ViewBag.ActionType" asp-route-id="@ViewBag.ItemDetailsId">Back to Edit Item</a>
    }
</div>


<form method="post">
    <div class="row ">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" hidden>
                <label class="control-label"> Main Category </label>
                <select asp-for="InvItemSpec_Steel.SteelMainCatId" id="SteelMainCatId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelMainCats"></select>
            </div>
            <div class="form-group" hidden>
                <label class="control-label"> Sub Category </label>
                <select asp-for="InvItemSpec_Steel.SteelSubCatId" id="SteelSubCatId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelSubCats"></select>
            </div>
            <div class="form-group" hidden>
                <label class="control-label"> Steel Size </label>
                <select asp-for="InvItemSpec_Steel.SteelSizeId" id="SteelSizeId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelSizes"></select>
            </div>
          
            <div class="form-group" hidden>
                <label class="control-label"> Steel Material </label>
                <select asp-for="InvItemSpec_Steel.SteelMaterialId" id="SteelMaterialId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelMaterials"></select>
            </div>
            <div class="form-group" hidden>
                <label class="control-label"> Steel Material Grade </label>
                <select asp-for="InvItemSpec_Steel.SteelMaterialGradeId" id="SteelMaterialGradeId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelMaterialGrades"></select>
            </div>

            <div class="form-group" hidden> 
                <label class="control-label">HDRID </label>
                <input asp-for="HdrId" id="HdrId" class="form-control" value="@ViewBag.HdrId">
            </div>

            <div class="form-group" hidden>
                <label class="control-label">ItemDetailsId </label>
                <input asp-for="ItemDetailsId" id="ItemDetailsId" class="form-control" value="@ViewBag.ItemDetailsId">
            </div>

            <div class="form-group" hidden>
                <label class="control-label">Action Type </label>
                <input asp-for="ActionType" id="ActionType" class="form-control" value="@ViewBag.ActionType">
            </div>

            <div class="form-group" hidden>
                <input type="submit" value="Find Matching Items" class="btn btn-primary" />
            </div>
        </div>
        
    </div>
</form>

<hr />
<h3> Matching Items </h3>
<h5> Select from the matching items to update your transaction </h5>

@if (Model.ItemList != null)
    {
    @if (Model.ItemList.Count() == 0)
    {
        <h4> No Items Found </h4>
    }
    else
    {
        
        <table class="table">

            <tr>
                <th>
                    Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Main Category
                </th>
                <th>
                    Sub Category
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Origin
                </th>
                <th>
                    Material
                </th>
                <th> Grade </th>
                <th>
                    Size
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ItemList)
            {

                <tr>
                    <td>
                        @item.InvItem.Code
                    </td>
                    <td>
                        @item.InvItem.Description
                    </td>
                    <td>
                        @item.SteelMainCat.Name
                    </td>
                    <td>
                        @item.SteelSubCat.Name
                    </td>
                    <td>
                        @item.SteelBrand.Name
                    </td>
                    <td>
                        @item.SteelOrigin.Name
                    </td>
                    <td>
                        @item.SteelMaterial.Name
                    </td>
                    <td>
                        @item.SteelMaterialGrade.Name
                    </td>
                    <td>
                        @item.SteelSize.Name
                    </td>
                    <td>

                        @if (ViewBag.ActionType == "Create")
                        {
                            <a asp-page="./@ViewBag.ActionType" class="btn btn-primary" asp-route-itemId="@item.InvItemId" asp-route-hdrId="@ViewBag.HdrId">
                                Select
                            </a>
                        }
                 
                        @if (ViewBag.ActionType == "Edit")
                        {
                            <a asp-page="./@ViewBag.ActionType" class="btn btn-primary" asp-route-itemId="@item.InvItemId" asp-route-id="@ViewBag.ItemDetailsId">
                                    Select
                             </a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
}