@page
@model InvWeb.Pages.Masterfiles.ItemCustomSpec.IndexModel

@{
    ViewData["Title"] = "Custom Specifications";
}

<h1>Custom Specifications</h1>

<p>
    <a asp-page="Create">Create New</a> |
    <a asp-page="../ItemCustomSpecType/Index"> Specification Types</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvCustomSpec[0].SpecName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvCustomSpec[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvCustomSpec[0].Measurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvCustomSpec[0].Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvCustomSpec[0].InvCustomSpecType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.InvCustomSpec) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvCustomSpecType.Type)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
