@page "{id:int?}"
@model InvWeb.Pages.Stores.Releasing.DetailsModel

@{
    ViewData["Title"] = "Releasing Details";
    IEnumerable<WebDBSchema.Models.InvTrxDtl> invTrxDtls = ViewBag.InvTrxDtls;
}

<h1>Releasing Details : @Model.InvTrxHdr.InvStoreId </h1>

<div>
    <h4> Transaction Header</h4>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.InvTrxHdr.Id">Edit</a> |
        @if (Model.InvTrxHdr.InvTrxHdrStatusId == 1)
        {
            <a asp-page="./Index" asp-route-storeId="@Model.InvTrxHdr.InvStoreId" asp-route-status="PENDING">Back to List</a>
        }
        else
        {
            <a asp-page="./Index" asp-route-storeId="@Model.InvTrxHdr.InvStoreId" asp-route-status="ACCEPTED">Back to List</a>
        }
      
        <div class="pull-left">
            <a asp-page="../Printables/RequestForm" asp-route-id="@Model.InvTrxHdr.Id" asp-route-type="@Model.InvTrxHdr.InvTrxTypeId" target="_blank" class="btn btn-primary">Print Voucher</a> 
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="row">
                <div class="col-lg-8">
                   Transaction: @Model.InvTrxHdr.InvTrxType.Type
                </div>
                <div class="col-lg-2">
                   Date: @Model.InvTrxHdr.DtTrx.ToString("MMM dd yyyy")
                </div>
                <div class="col-lg-2">
                   Store: @Model.InvTrxHdr.InvStore.StoreName
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="border:0px solid black;margin:0px 0px;padding:0px;">
                        Remarks: @Model.InvTrxHdr.Remarks
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                   Status: @Model.InvTrxHdr.InvTrxHdrStatu.Status
                </div>
                <div class="col-lg-4">
                   Performed By: @Model.InvTrxHdr.UserId
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<h4> Transaction Details</h4>
<p>
    <a asp-page="./ItemDetails/Create" asp-route-hdrId="@Model.InvTrxHdr.Id">Add Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                LotNo
            </th>
            <th>
                InvItem
            </th>
            <th>
                ItemQty
            </th>
            <th>
                InvUom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in invTrxDtls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvItem.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotNo)
                </td>
                <td>
                   ( @Html.DisplayFor(modelItem => item.InvItem.Code) )
                    @Html.DisplayFor(modelItem => item.InvItem.Description)
                    @Html.DisplayFor(modelItem => item.InvItem.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvUom.uom)
                </td>
                <td>
                    <a asp-page="./ItemDetails/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./ItemDetails/Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./ItemDetails/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
