@page
@model InvWeb.Pages.Stores.Releasing.FormModel
@{
    string trxStatus = Model.ReleasingDetailsModel.InvTrxHdr.InvTrxHdrStatu.Status.ToUpper();
    int count = 0;
    int ActualInvCount = 0;
    int ExpectedCount = 0;
    int InvBalanceCount = 0;

    bool isUserAdmin = (bool)ViewData["IsUserAdmin"];
}

<div style="margin:5px;margin-bottom:10px;display:flex;justify-content:space-between;">
    <div>
        <a asp-page="./Index" asp-route-storeId="@Model.ReleasingDetailsModel.InvTrxHdr.InvStoreId" asp-route-status="@trxStatus" style="margin-right:15px;">  Back to Transaction List</a>
       
        @if (trxStatus == "APPROVED")
        {
            <a asp-page="../Printables/RequestForm" id="PrintVoucher-btn" asp-route-id="@Model.ReleasingDetailsModel.InvTrxHdr.Id" asp-route-type="@Model.ReleasingDetailsModel.InvTrxHdr.InvTrxTypeId" target="_blank" class="btn btn-primary">Print Voucher</a>
        }
       
    </div>
    <div>
        @if (trxStatus == "REQUEST")
        {
            <a class="btn btn-primary" id="CancelTrx-btn" style="color:white;cursor:pointer;" onclick="CancelRequest(@Model.ReleasingDetailsModel.InvTrxHdr.Id)">  Cancel Request</a>
        }
        else if (trxStatus == "APPROVED")
        {
            if (isUserAdmin)
            {
                <a class="btn btn-primary" id="CancelTrx-btn" style="color:white;cursor:pointer;" onclick="CancelRequest(@Model.ReleasingDetailsModel.InvTrxHdr.Id)">  Cancel Request</a>
            }
            
        }
    </div>
</div>

<hr />

<div class="Receiving-status-div">
    <h2> Transaction Status : @trxStatus </h2>
    <div class="row" style="margin-left:20px;">
        <div class="col-3">
            1. Encoding Request
        </div>
        <div class="col-3">
            2. Approved
        </div>
        <div class="col-3">
            3. Release Items
        </div>
        <div class="col-3">
            4. Closed
        </div>
    </div>
    <div class="progress" style="width:95%;">
        <div class="progress-bar" id="progressbar-status" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="card card-full-width">
    <div class="Receiving-Form-H4">
        <h4> Company - Warehouse - Mecuayan </h4>
    </div>
    <div class="Receiving-Form-H5">
        <h5> Releasing Form </h5>
    </div>

    <div class="Receiving-Form-Header-Fields">

        <div class="Receiving-Form-Header-Fields-Container">

            <input id="textinput-hdrId" type="text" class="form-control" style="width:40rem;" value="@ViewBag.HdrId" hidden />

            <table class="table" style="margin-bottom:0px;">
                <tr>
                    <td style="padding-left:0px;border:none;">
                        <b>  Status : @Model.ReleasingDetailsModel.InvTrxHdr.InvTrxHdrStatu.Status </b>
                    </td>
                    <td style="padding-left:0px;border:none;">
                        Requested by:
                        @Model.ReleasingDetailsModel.InvTrxHdr.UserId

                    </td>
                </tr>
                <tr>
                    <td style="padding:0px;border:none;">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"> Party: </label>

                            <input id="textinput-Party" type="text" class="form-control" style="width:40rem;" value="@Model.ReleasingDetailsModel.InvTrxHdr.Party" disabled />
                        </div>
                    </td>
                    <td style="padding:0px;border:none;">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">  RefNo </label>
                            <input id="textinput-RefNo" type="text" class="form-control" style="width:10rem;" value="@Model.ReleasingDetailsModel.InvTrxHdr.Id" readonly />
                        </div>

                    </td>
                </tr>
                <tr>
                    <td style="padding:0px;border:none;">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"> Remarks </label>
                            <input id="textinput-HdrRemarks" type="text" class="form-control" style="width:40rem;" value="@Model.ReleasingDetailsModel.InvTrxHdr.Remarks" disabled />
                        </div>
                    </td>
                    <td style="padding:0px;border:none;">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">  Date: </label>

                            <input id="textinput-Date" type="date" class="form-control" style="width:10rem;" disabled />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>

            @if (trxStatus == "REQUEST")
            {
                <button id="Edit-header-btn" class="btn btn-primary" onclick="ShowEditHeader()"> <i class="bi bi-pen"> </i> Edit </button>
                <button id="Save-header-btn" class="btn btn-success" onclick="SaveHeaderDetails_Changes()" style="display:none;"> <i class="bi bi-check-lg"> </i> Save </button>
            }
          
        </div>
    </div>

<div class="Form-Display-Items-Table">
    <div style="margin:15px;">

        <table class="table" style="border:1px solid lightgray;" id="ItemsTable">

         <thead class="thead-dark">
            <tr>
                <th >
                    PARTICULARS
                </th>
                <th>
                    LOT
                </th>
                 <th class="td-bordered" style="width:5rem;">
                    QTY
                </th>
                 <th class="td-bordered" style="width:8rem;">
                    UOM
                </th>
                 <th class="td-bordered">
                    REMARKS
                </th>
                <th>

                </th>
            </tr>
        </thead>

        <!-- ITEMS -->
                @foreach (var item in Model.ReleasingDetailsModel.InvTrxDtls)
        {
            int ItemCountExpectedBalance = 0;
            { 
                count += 1;
                int totalReleasedItemCount = item.InvTrxDtlxItemMasters.Sum(c => c.InvItemMaster.ItemQty);

                        ItemCountExpectedBalance = item.ItemQty - totalReleasedItemCount;

                //Overall count
                ExpectedCount += item.ItemQty;
                        ActualInvCount += totalReleasedItemCount;
            }
            <tr id="itemDetails-@item.Id" cite="">
                <td id="itemDescEdit-@item.Id">
                    @count .)
                    ( @item.InvItem.Code )
                    
                    @item.InvItem.InvCategory.Description - 
                    @item.InvItem.Description
                    
                    @if(item.InvTrxDtlxItemMasters != null){
                            foreach (var itemMaster in item.InvTrxDtlxItemMasters)
                            {
                                if(ItemCountExpectedBalance != 0){
                                    <br>
                                    <span style="color:gray;margin-left:15px;cursor:pointer;" onclick="ReceiveItemEditRow(@itemMaster.Id, @itemMaster.InvItemMasterId, @ItemCountExpectedBalance)">
                                            Lot: @itemMaster.InvItemMaster.LotNo - Batch: @itemMaster.InvItemMaster.BatchNo  /  @itemMaster.InvItemMaster.InvItemBrand.Name - @itemMaster.InvItemMaster.InvItemOrigin.Name
                                            &#x2192;
                                           
                                            &nbsp;
                                            Qty: @itemMaster.InvItemMaster.ItemQty

                                            @if (!string.IsNullOrEmpty(@itemMaster.InvItemMaster.Remarks))
                                            {
                                                <br /> <span style="margin-left:15px;"> Remarks: @itemMaster.InvItemMaster.Remarks</span>
                                            }
                                        </span>
                                    }else{
                                       <br>
                                        <span style="color:gray;margin-left:15px;">
                                            Lot: @itemMaster.InvItemMaster.LotNo - Batch: @itemMaster.InvItemMaster.BatchNo  /  @itemMaster.InvItemMaster.InvItemBrand.Name - @itemMaster.InvItemMaster.InvItemOrigin.Name
                                            &#x2192;
                                           
                                            &nbsp;
                                            Qty: @itemMaster.InvItemMaster.ItemQty

                                            @if (!string.IsNullOrEmpty(@itemMaster.InvItemMaster.Remarks))
                                            {
                                                <br /> <span style="margin-left:15px;"> Remarks: @itemMaster.InvItemMaster.Remarks</span>
                                            }
                                        </span>
                                    }
                               
                                   
                            }
                        }
                </td>
                <td>
                    @item.LotNo / @item.BatchNo
                </td>
                <td id="itemDetails-Qty-@item.Id">
                    @item.ItemQty

                    @if( item.InvTrxDtlxItemMasters.Count() > 0 ){
                           int totalReleasedCount = item.InvTrxDtlxItemMasters.Sum(c => c.InvItemMaster.ItemQty);

                           <span style="color:green;">
                                    / @totalReleasedCount
                           </span>
                     }
                </td>
                <td >
                    @item.InvUom.uom
                </td>
                <td>
                    @item.InvItem.Remarks
                </td>
                        <td>
                            @if (trxStatus == "APPROVED")
                            {
                                @if(ItemCountExpectedBalance > 0){

                                    <div style="width:7rem;">
                                        <button class="btn btn-outline-primary btn-sm" onclick="ReleaseItemRow( @item.Id, @ItemCountExpectedBalance)"> Release Item </button>
                                    </div>
                                }
                            }

                            @if (trxStatus == "REQUEST")
                            {
                            <div class="trx-items-actions" style="min-width:5rem;display:flex;" >
                                <button class="btn btn-outline-primary btn-sm" onclick="EditExisitingItemRow(this, @item.Id)" style="padding:3px 12px;margin-right:5px"> Edit </button>
                                <button class="btn btn-outline-danger btn-sm" onclick="RemoveItemFromTable(this, @item.Id)" style="padding:3px 10px;"> X </button>
                            </div>
                            }
                        </td>
                </tr>
            }

            <tr>
               <td colspan="6" id="AddItem-btn-td">
                    <button id="AddItem-btn" class="btn btn-outline-primary btn-sm" onclick="ShowAddItem()" style="padding:10px;"> 
                        Add Item 
                    </button>
                </td>
            </tr>


            <tr id="AddItemsField" class="Receiving-Form-Add-Item">
                <td>
                   Add New Item
                    <div style="display:flex;">
                            <select id="itemDropdown" class="form-control" asp-items="ViewBag.InvItems"></select>
                        <img id="ItemTextfieldBtn" src="~/img/icons/icons-search.png" width="32" alt="search" class="item-search-icon">
                    </div>
                </td>
                    <td style="width:150px;">
                    <div style="display:flex;padding-top:20px;">
                        <input id="newItem-LotNo" type="text" class="form-control" style="width:70px" disabled />  
                        <input id="newItem-BatchNo" type="text" class="form-control" style="width:50px" disabled />
                        <span class="btn btn-primary" data-toggle="modal" data-target="#SearchLotNoModal" onclick="GetInvItemReleasedTrx()"> <i class="bi bi-search"></i> </span>
                    </div>
                      
                    
                     <span style="display:flex;">
                         <p class="text-danger" id="newItem-Lotno-Warning">  </p>
                     </span>
                </td>
                <td>
                    Qty 
                    <input id="textinput-Qty" type="text"  class="form-control" value="1" />
                </td>
                <td>
                    Uom
                    <select id="UomDropdown" class="form-control" asp-items="ViewBag.UomsList" disabled></select>
                </td>
                <td>
                   @* 
                    Remarks
                    <input id="textinput-Remarks" type="text"  class="form-control" />
                    *@
                </td>
                <td>
                    <div class="row" style="width:10rem;margin-left: 1px;margin-top:20px;">
                        <button class="btn btn-outline-success btn-sm" onclick="AddNewItemOnTableRow()" style="padding:5px;margin-right:5px;"> 
                            <i class="bi bi-check-lg" style="font-size:1rem; color:green;"> </i> Save </button>
                        <button class="btn btn-outline-danger btn-sm" onclick="Cancel_AddNewItemOnTableRow()" style="padding:5px;"> 
                            <i class="bi bi-x-lg" style="font-size:1rem; color:red;"> </i> Cancel </button>
                    </div>
                </td>
            </tr>
        
          @*<tr>
                <td colspan="5">
                    TOTAL 
                </td>
            </tr> *@

        </table>
    </div>
    </div>
</div>
<div class="col-lg-6" style="margin-top:10px;">

    @if (trxStatus == "REQUEST")
    {
        if (Model.ReleasingDetailsModel.InvTrxDtls.Count() > 0)
        {
            <a asp-page="./Index" class="btn btn-primary" asp-route-storeId="@ViewData["StoreId"]" asp-route-Status="PENDING">Request for Approval</a>
            @* <button class="btn btn-primary" id="CloseTrxHeaderBtn" onclick="TransactionStatus_Approval(@Model.ReleasingDetailsModel.InvTrxHdr.Id)"> Request for Approval </button> *@
        }
    }

    @if (trxStatus == "APPROVED" && ( ActualInvCount >=  ExpectedCount))
    {

        <button class="btn btn-primary" id="CloseTrxHeaderBtn" onclick="TransactionStatus_Close(@Model.ReleasingDetailsModel.InvTrxHdr.Id)"> ALL ITEMS RELEASED and CLOSE </button>
        
        <div id="AfterClosedDivLinks" >
            <br />
            <a asp-page="./Index" class="btn btn-primary" asp-route-storeId="@ViewData["StoreId"]" asp-route-Status="PENDING">Go to Request</a>
            <a asp-page="./Index" class="btn btn-primary" asp-route-storeId="@ViewData["StoreId"]" asp-route-Status="APPROVED"> Go to Approved  </a>
            <a asp-page="./Index" class="btn btn-primary" asp-route-storeId="@ViewData["StoreId"]" asp-route-Status="CLOSED"> Go to Closed  </a>

        </div>

    }

</div>

@await Component.InvokeAsync("Dialog", new { items =  ViewData["DialogItems"] , selector = "itemDropdown"  })
@await Component.InvokeAsync("SearchItemEdit", new { items =  ViewData["DialogItems"] , selector = "itemEditDropdown"  })

@{
    Html.RenderPartial("ModalAddItem");
    Html.RenderPartial("ModalReleaseItem");
    Html.RenderPartial("ModalReleaseItemEdit");
    Html.RenderPartial("_SearchLotNoModal");
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Pages/Stores/Shared/ItemDetails/ItemUomDropdown.js"></script>
    <script src="~/js/Shared/Components/Dialog/DialogItem.js"></script>
    <script src="~/js/Pages/Stores/Releasing/Form.js"></script> 

    <script>

        $(document).ready(function () {

            $("#itemDropdown").val($("#itemDropdown option:first").val());
            //SearchItem(@ViewBag.SelectedItemId); 
            
            var defaultItem = $("#itemDropdown option:first").val();
            GetItemOumsWithId(defaultItem);

            if ("@trxStatus" == "APPROVED") {
                $("#AddItemsField").hide();
                $(".trx-items-actions").hide();
                $("#progressbar-status").css('width', '35%');

                DisableEditOnApproved();
            }

            if("@trxStatus" == "REQUEST"){
                $("#progressbar-status").css('width','10%');
            }

            if ("@trxStatus" == "CLOSED") {
                $("#progressbar-status").css('width', '100%');
                $("#AddItem-btn-td").hide();
                $(".trx-items-actions").hide();
                $("#CancelTrx-btn").hide();
                $("#PrintVoucher-btn").hide();
            }

            $("#textinput-Date").val('@ViewBag.DateToday');
        });

        


        function DisableEditOnApproved() {
            $("#textinput-Party").prop('disabled', true);
            $("#textinput-HdrRemarks").prop('disabled', true);
            $("#AddItem-btn").hide();
        }

        function ShowEditHeader(){
            $("#textinput-Party").prop('disabled', false);
            $("#textinput-HdrRemarks").prop('disabled', false);
            $("#Edit-header-btn").hide();
            $("#Save-header-btn").show();
        }



    </script>
}