@page
@model InvWeb.Pages.Stores.Releasing.IndexModel

@{
    ViewData["Title"] = "Releasing";
}

<h1>Releasing</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].DtTrx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].InvStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].InvTrxType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].InvTrxHdrStatu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InvTrxHdr) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DtTrx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvStore.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvTrxType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvTrxHdrStatu.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
