@page "{storeId:int?}"
@model InvWeb.Pages.Stores.Releasing.IndexModel

@{
    ViewData["Title"] = "Releasing";
}

<h1>
    Releasing

    @if (ViewBag.Status == "ACCEPTED")
    {
        <span style="font-size:1rem;">(Released)</span>
    }
    else
    {
        <span style="font-size:1rem;">(Pending)</span>
    }
</h1>

<p>
    <a asp-page="../Main/Index" asp-route-id="@ViewBag.StoreId">Go back to MyStore</a> |
    @if (ViewBag.Status == "ACCEPTED")
    {
        <a asp-page="./Index" asp-route-storeId="@ViewBag.StoreId" asp-route-Status="PENDING">Go recent Pendings</a>
    }
    else
    {
        <a asp-page="./Index" asp-route-storeId="@ViewBag.StoreId" asp-route-Status="ACCEPTED">Go recent Approval</a>
    }
</p>
<p>
    <a asp-page="Create" asp-route-storeId="@ViewBag.StoreId">Create New</a>
</p>

<form method="post" hidden>
    <div hidden>
        <input type="text" value="@ViewData["StoreId"]" name="storeId" id="storeId" />
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary" id="status-pending">
            <input type="radio" asp-for="Status" class="button" autocomplete="off" value="PENDING" checked> Requested
        </label>
        <label class="btn btn-outline-primary" id="status-accepted">
            <input type="radio" asp-for="Status" class="button" autocomplete="off" value="ACCEPTED"> Relased
        </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary" id="orderby-asc">
            <input type="radio" asp-for="Orderby" autocomplete="off" value="ASC" checked> ASC
        </label>
        <label class="btn btn-outline-primary" id="orderby-desc">
            <input type="radio" asp-for="Orderby" autocomplete="off" value="DESC"> DESC
        </label>
    </div>
    <button class="btn btn-primary" type="submit"> Filter </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Ref#
            </th>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvTrxHdr[0].Remarks)
            </th>
            <th>
                Details
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InvTrxHdr)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.DtTrx.ToString("MMM dd yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    <div>
                        <ul>
                            @foreach (var dlts in item.InvTrxDtls)
                            {
                                <li style="color:black;">
                                    ( @dlts.InvItem.Code )
                                    @dlts.InvItem.Description 
                                    @dlts.InvItem.Remarks x
                                    @dlts.ItemQty
                                    @dlts.InvUom.uom
                                </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>
                    @if (item.InvTrxHdrStatusId == 1)
                    {
                        <button class="btn btn-primary" onclick="ApproveHdr('@item.Id')"> Release </button>
                    }
                    </td>
                    <td>

                    <a asp-page="../Printables/RequestVoucher" asp-route-id="@item.Id" asp-route-type="@item.InvTrxTypeId" target="_blank">Print</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{
    <script type="text/javascript" src="~/js/Store/IndexFilter.js"></script>
    <script>
        $(() => {
            //on init status
            StatusFilter("@Model.Status");
            OrderFilter("@Model.Orderby");
        });
    </script>
} 