@page "{storeId:int?}"
@model InvWeb.Pages.Stores.Releasing.IndexModel

@{
    ViewData["Title"] = "Releasing";

    bool IsAdmin = Model.ReleasingIndexModel.IsAdmin;

    int STATUS_PENDING = 1;
    int STATUS_APPROVED = 2;
    
}

<h1>
    Releasing

    @if (Model.ReleasingIndexModel.Status == "ACCEPTED")
    {
        <span style="font-size:1rem;">(Released)</span>
    }
    else
    {
        <span style="font-size:1rem;">(Pending)</span>
    }
</h1>

<p>
    <a asp-page="../Main/Index" asp-route-id="@Model.ReleasingIndexModel.StoreId">Go back to MyStore</a> |
    @if (Model.ReleasingIndexModel.Status == "ACCEPTED")
    {
        <a asp-page="./Index" asp-route-storeId="@Model.ReleasingIndexModel.StoreId" asp-route-Status="PENDING">Go recent Pendings</a>
    }
    else
    {
        <a asp-page="./Index" asp-route-storeId="@Model.ReleasingIndexModel.StoreId" asp-route-Status="ACCEPTED">Go recent Released</a>
    }
</p>
<p>
    <a asp-page="Create" asp-route-storeId="@Model.ReleasingIndexModel.StoreId" class="btn btn-primary">Create New</a>
</p>

<form method="post">
    <div hidden>
        <input type="text" value="@Model.ReleasingIndexModel.StoreId" name="storeId" id="storeId" />
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary" id="status-pending">
            <input type="radio" asp-for="Status" autocomplete="off" value="PENDING" checked> Requested
        </label>
        <label class="btn btn-outline-primary" id="status-approved">
            <input type="radio" asp-for="Status" autocomplete="off" value="APPROVED"> Approved
        </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary" id="orderby-asc">
            <input type="radio" asp-for="Orderby" autocomplete="off" value="ASC" checked> ASC
        </label>
        <label class="btn btn-outline-primary" id="orderby-desc">
            <input type="radio" asp-for="Orderby" autocomplete="off" value="DESC"> DESC
        </label>
    </div>
    <button class="btn btn-primary" type="submit"> Filter </button>
</form>
<div class="table-responsive card rounded-3 card-round-border">

    <table class="table custom-table-list  rounded-3 overflow-hidden">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                
            </th>
            <th>
                Details
            </th>
            <th>
                
            </th>
            <th> Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReleasingIndexModel.InvTrxHdrs)
        {
            <tr>
                <td class="td-actions">
                        <!-- Actions -->
                        @if (item.InvTrxHdrStatusId == STATUS_PENDING)
                        {
                            <a asp-page="./Edit" asp-route-id="@item.Id">
                                <img src="~/img/icons/icons-edit-blue.png" class="action-icons" width="20" height="20" alt="Edit" data-toggle="tooltip" data-placement="top" title="Edit">
                            </a>
                            
                            <a asp-page="./Details" asp-route-id="@item.Id">
                                <img src="~/img/icons/icons-details-blue.png" class="action-icons" width="20" height="20" alt="Details" data-toggle="tooltip" data-placement="top" title="Details">
                            </a>
                        }

                        @if (item.InvTrxHdrStatusId == STATUS_PENDING)
                        {
                            <a asp-page="../Printables/RequestForm" asp-route-id="@item.Id" asp-route-type="@item.InvTrxTypeId" target="_blank">
                                <img src="~/img/icons/icons-print.png" class="action-icons" width="20" height="20" alt="Print" data-toggle="tooltip" data-placement="top" title="Details">
                            </a>
                        }

                        @if (item.InvTrxHdrStatusId == STATUS_PENDING)
                        {
                            @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                        }
                </td >
                    <td class="td-actions">

                        @if (item.InvTrxHdrStatusId == STATUS_PENDING && IsAdmin)
                        {
                            if (Model.IsTransactionHaveApprovedRecord(item.Id, "Approved"))
                            {
                                <button class="btn btn-primary" onclick="ApprovedTrxHdr(this, '@item.Id')" disabled> Approve </button>
                            }
                            else
                            {
                                <button class="btn btn-primary" onclick="ApprovedTrxHdr(this, '@item.Id')"> Approve </button>

                            }

                            if (Model.IsTransactionHaveApprovedRecord(item.Id, "Verified"))
                            {
                                <button class="btn btn-primary" onclick="VerifiedTrxHdr(this,'@item.Id')" disabled>  Verified </button>
                            }
                            else
                            {
                                <button class="btn btn-primary" onclick="VerifiedTrxHdr(this,'@item.Id')"> Verified </button>

                            }
                        }

                    </td>
                <td class="td-bold"  style="padding-top:18px;">
                        @item.Id - 
                        @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                        <table class="table table-borderless">
                            <tr>
                                <th> Items</th>
                                <th> Batch No </th>
                                <th> Qty</th>
                            </tr>
                            @foreach (var dlts in item.InvTrxDtls)
                            {

                                <tr>
                                    <td style="width:25rem;">
                                        ( @dlts.InvItem.Code )
                                        @dlts.InvItem.Description
                                        @dlts.InvItem.Remarks
                                         -
                                        @if (dlts.InvItem.InvItemSpec_Steel.Count() != 0)
                                        {
                                            <span>
                                            (@dlts.InvItem.InvItemSpec_Steel.First().SteelBrand.Name)

                                            @dlts.InvItem.InvItemSpec_Steel.First().SteelMaterial.Name

                                            @dlts.InvItem.InvItemSpec_Steel.First().SteelMaterialGrade.Name -

                                            @dlts.InvItem.InvItemSpec_Steel.First().SteelOrigin.Name
                                            </span>
                                        }
                                    </td>
                                    <td style="width:5rem;">
                                         @dlts.BatchNo
                                    </td>
                                    <td style="width:5rem;">
                                        @dlts.ItemQty

                                        @if (dlts.InvUom != null)
                                        {
                                            @dlts.InvUom.uom
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                </td>
                <td class="td-bold" style="padding-top:18px;">
                    @item.DtTrx.ToString("MMM dd yyyy")
                </td>
                
            </tr>
        }
    </tbody>
</table>

</div>


@section Scripts{
    <script type="text/javascript" src="~/js/Pages/Stores/Shared/Index.js"> </script>
    <script>
        $(() => {
            //on init status
            StatusFilter("@Model.Status");
            OrderFilter("@Model.Orderby");
        });


    </script>
} 