@page
@model InvWeb.Pages.Masterfiles.ItemMaster.Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<h1>Item Category</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvCategory[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvCategory[0].Description)
            </th>
            <th>
                Defined Spec
            </th>
            <th>
                Custom Spec
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.InvCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
                <br>
                <span> 
                @Html.DisplayFor(modelItem => item.Remarks)
                </span>
            </td>
            <td>
                @foreach(var spec in item.InvCategorySpecDefs){
                    var specdetails = spec.InvItemSysDefinedSpec;

                    <span> (@specdetails.SpecCode) @specdetails.SpecName - @specdetails.SpecGroup </span>
                    <br />
                }
            </td>
            <td>
                @foreach(var spec in item.InvCatCustomSpecs.OrderBy(c=>c.Order)){
                    var customSpecDetails = spec.InvCustomSpec;
                        <span> @customSpecDetails.SpecName : </span>
                        <span> @customSpecDetails.Measurement </span>

                        <br />
                        <span> @customSpecDetails.Remarks </span>
                    <br />
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
